.SignPassInput input {
  width: 100%;
  height: 100%;
  padding: 10px 24px;
  border-radius: 16px;
  min-height: 48px;
  border: 1px solid var(--notibg) !important;
  color: var(--lightblack);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--satoshi-font);
  background-color: transparent;
  outline: var(--black-text);
}
.SignPassInput input::placeholder {
  opacity: 60%;
}
.SignPassInput {
  position: relative;
}
.SignPassInput button {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  background: transparent !important;
  border: none;
  padding: 0;
  z-index: 2;
}

.floating-input {
  position: relative;
  margin-bottom: 0;
}
.floating-input input {
  transition: border-color 0.2s;
}
.floating-input label {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #595958;
  line-height: 120%;
  letter-spacing: -0.32px;
  font-family: var(--satoshi-font);
  opacity: 60%;
  font-weight: 400;
  pointer-events: none;
  background: transparent;
  transition:
    top 0.2s,
    font-size 0.2s,
    color 0.2s,
    background 0.2s,
    padding 0.2s;
  padding: 0 4px;
}

.floating-input.focused input,
.floating-input input:focus {
  border-color: var(--blue-text) !important;
}

.floating-input.focused label,
.floating-input input:focus + label {
  top: 2px;
  font-size: 15px;
  font-weight: 700;
  color: var(--blue-text);
  background: var(--whitebg);
  padding: 0 4px;
  opacity: 100%;
}

.floating-input input:not(:placeholder-shown):not(:focus) + label,
.floating-input.focused label {
  top: 2px;
  font-size: 15px;
  font-weight: 700;
  color: var(--blue-text);
  background: var(--whitebg);
  padding: 0 4px;
}

.Errors {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px 16px;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  font-family: var(--satoshi-font);
  color: var(--delete);
  margin-top: 6px;
}

@media (max-width: 1280px) {
  .SignPassInput input {
    font-size: 15px;
    min-height: 48px;
  }
  .SignPassInput input::placeholder {
    font-size: 15px;
  }
  .floating-input label {
    font-size: 15px;
  }
}