.step-logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.step-logo-upload {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue-text);
  position: relative;
}
.step-logo-title-container{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.step-logo-title {
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.46px;
}
.remove-icon {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
  border: none;
  background: #fff;
}
@media screen and (max-width: 1024px) {
  .step-logo-upload {
    height: 80px;
    width: 80px;
  }
  .step-logo-preview {
    height: 80px !important;
    width: 80px !important;
  }
}
@media screen and (max-width: 768px) {
  .step-logo-container {
    gap: 10px;
  }
  .step-logo-upload {
    height: 60px;
    width: 60px;
  }
  .step-logo-upload svg {
    height: 30px;
    width: 30px;
  }
  .step-logo-preview {
    height: 60px !important;
    width: 60px !important;
  }
  .step-logo-title {
    font-size: 19px;
  }
  .remove-icon {
    top: -10px;
    right: -10px;
  }
  .remove-icon svg {
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 350px) {
  .step-logo-title {
    max-width: 150px;
  }
}
