.speciality-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #eaeaea;
  width: 100%;
}
.speciality-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 10px 24px;
  border-bottom: 1px solid #eaeaea;
}
.speciality-title {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.36px;
}
.speciality-delete {
  cursor: pointer;
}
.speciality-services {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 16px;
}
.speciality-service {
  display: flex;
  height: 48px;
  width: 100%;
  padding: 10px 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}
.speciality-service-title {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.36px;
}
.speciality-service-check {
  height: 16px !important;
  width: 16px !important;
  font-weight: 300 !important;
}

@media screen and (max-width: 768px) {
  .speciality-service {
    padding: 10px 6px;
  }
  .speciality-service-title{
    font-size: 16px;
  }
}
