.team-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.team-title {
  color: var(--black-text);
  font-family: var(--font-satoshi);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.46px;
}

.team-type {
  display: flex;
  gap: 16px;
  width: 100%;
  align-items: center;
}
.team-type-title {
  color: #595958;
  font-family: var(--font-satoshi);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 112.5%;
  letter-spacing: -0.32px;
}
.team-type-options {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
.team-type-option {
  height: 40px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-text);
  text-align: center;
  font-family: var(--satoshi-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
  border-radius: 12px;
  border: 1px solid var(--black-bg);
  cursor: pointer;
  background: var(--whitebg);
}
.activeGendertype {
  border: 1px solid var(--blue-text);
  background: var(--light-blue);
  color: var(--blue-text);
}
@media screen and (max-width: 768px) {
  .team-type-title {
    font-size: 19px;
  }
  .team-type-option {
    height: 36px;
    font-size: 15px;
    padding: 0 16px;
  }
}
@media screen and (max-width: 550px) {
  .team-type {
    flex-direction: column;
    align-items: start;
    max-height: fit-content;
  }
  .team-type-options {
    justify-content: flex-start;
  }
  .team-type-option {
    min-width: 100px;
  }
}

.team-buttons {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .team-buttons {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .team-buttons a {
    width: 100% !important;
  }
}

.team-address-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
}
.team-personal-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
.team-personal-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .team-personal-two {
    grid-template-columns: 1fr;
  }
}
.team-seperator {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: var(--lightgrey);
}
