.table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.card-list {
  display: none;
}
@media screen and (max-width: 1280px) {
  .table-list {
    display: none;
  }
  .card-list {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
}
.InviteDetails {
  color: var(--yc-upated-contrat1, #247aed);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  cursor: pointer;
}
.InviteTime {
  color: var(--yc-updated, #302f2e);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
}
.InviteExpires {
  color: var(--yc-updated, #302f2e);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
}

.OrgListDetails {
  color: var(--yc-upated-contrat1, #247aed);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  font-family: var(--satoshi-font);
  cursor: pointer;
}
.OrgStatus {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border-radius: 8px;
  background: var(--pendingbg, #fef3e9);
  color: var(--pendingtext, #f68523);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 18px */
  letter-spacing: -0.3px;
}
.OrgListDetailsCol {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}
.action-btn-col {
  display: inline-flex;
  align-items: center;
  width: max-content;
  gap: 8px;
}
.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.action-btn-text {
  color: var(#302f2e);
  text-align: center;
  font-family: var(--grotesk-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.32px;
}

.appointment-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}
.appointment-profile-two {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.appointment-profile-title {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.3px;
}
.appointment-profile-sub {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.39px;
  opacity: 0.6;
}
.appointment-status {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: #eaeaea;
  color: var(--black-text);
  text-align: center;
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.3px;
}
.appointment-emergency-label {
  display: flex;
  height: 25px;
  width: 72px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fdebea;
  color: var(--error-color);
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.39px;
}
