NEXT_PUBLIC_BASE_URL="http://localhost:4000/"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
NEXT_PUBLIC_COGNITO_USERPOOLID=""
NEXT_PUBLIC_COGNITO_CLIENTID=""
NEXT_PUBLIC_STREAM_API_KEY=""
NEXT_PUBLIC_SANDBOX_PUBLISH=""


# extra keys not used
NEXT_PUBLIC_COGNITO_USERPOOLID_PROD=""
NEXT_PUBLIC_COGNITO_CLIENTID_PROD=""
STRIPE_KEY=""
SANDBOX_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
SANDBOX_PUBLISH=""





# Development: Override auth guards (ProtectedRoute and OrgGuard)
# Set to "true" to bypass authentication checks. Use only in development!
NEXT_PUBLIC_DISABLE_AUTH_GUARD=false

# Development: Override organization type for UI flows (testing non-hospital templates)
# Accepted values: HOSPITAL | BOARDER | BREEDER | GROOMER
NEXT_PUBLIC_ORG_TYPE_OVERRIDE=

NEXT_PUBLIC_MICROSOFT_CLARITY_ID=