.explore-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.explore-cards {
  display: flex;
  gap: 20px;
  align-items: center;
}
.explore-stat {
  width: calc(25% - 15px);
  border-radius: 16px;
  border: 1px solid #eaeaea;
  background: #fff;
  box-shadow: 4px 4px 16px -6px rgba(85, 65, 52, 0.08);
  height: 112px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.explore-stat-name {
  color: var(--black-grey);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.3px;
}
.explore-stat-value {
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 768px) {
  .explore-cards {
    flex-wrap: wrap;
  }
  .explore-stat {
    width: calc(50% - 10px);
  }
}
