.team-slider{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 20px;
}
.team-slide-item .TeamSlideImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
