@import "tailwindcss";
/* Fonts */
@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk/clashgrotesk-regular-webfont.woff2")
      format("woff2"),
    url("/fonts/ClashGrotesk/clashgrotesk-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk/clashgrotesk-medium-webfont.woff2") format("woff2"),
    url("/fonts/ClashGrotesk/clashgrotesk-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk/clashgrotesk-bold-webfont.woff2") format("woff2"),
    url("/fonts/ClashGrotesk/clashgrotesk-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Light.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Regular.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Medium.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Bold.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Black.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@layer utilities {
  .scrollbar-hidden {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@theme {
  --color-neutral-950: #1d1c1b;
  --color-neutral-900: #302f2e;
  --color-neutral-700: #595958;
  --color-neutral-600: #747473;
  --color-neutral-500: #a09f9f;
  --color-neutral-200: #bfbfbe;
  --color-neutral-100: #eaeaea;
  --color-neutral-0: #ffffff;

  /* Brand (blue) */
  --color-brand-900: #5394ec;
  --color-brand-800: #6aa1eb;
  --color-brand-700: #82afec;
  --color-brand-600: #99bdec;
  --color-brand-500: #b1caec;
  --color-brand-300: #c9dbec;
  --color-brand-100: #f2f8ff;
  --color-brand-950: #247aed;
  --color-brand-925: #3b87ec;

  /* Success */
  --color-success-100: #e6f4ef;
  --color-success-200: #b0dccd;
  --color-success-300: #8acbb4;
  --color-success-400: #54b492;
  --color-success-500: #33a57d;
  --color-success-600: #008f5d;
  --color-success-700: #008255;
  --color-success-800: #006642;
  --color-success-900: #004f33;
  --color-success-950: #003c27;

  /* Warning */
  --color-warning-100: #fef3e9;
  --color-warning-200: #fcd9bb;
  --color-warning-300: #fbc79a;
  --color-warning-400: #f9ad6c;
  --color-warning-500: #f89d4f;
  --color-warning-600: #f68523;
  --color-warning-700: #e07920;
  --color-warning-800: #af5e19;
  --color-warning-900: #874913;
  --color-warning-950: #67380f;

  /* Danger */
  --color-danger-100: #fdebea;
  --color-danger-200: #f8c1bd;
  --color-danger-300: #f5a39d;
  --color-danger-400: #f17970;
  --color-danger-500: #ee5f54;
  --color-danger-600: #ea3729;
  --color-danger-700: #d53225;
  --color-danger-800: #a6271d;
  --color-danger-900: #811e17;
  --color-danger-950: #621711;

  --color-text-primary: var(--color-neutral-900);
  --color-text-cta: var(--color-neutral-900);
  --color-text-error: var(--color-danger-600);
  --color-text-brand: var(--color-brand-950);
  --color-text-secondary: var(--color-neutral-700);
  --color-text-tertiary: var(--color-neutral-600);
  --color-text-extra: var(--color-neutral-500);
  --color-surface-card: var(--color-neutral-0);
  --color-card-border: var(--color-neutral-100);
  --color-card-bg: var(--color-neutral-100);
  --color-border-card-selected: var(--color-neutral-200);
  --color-state-hover: var(--color-neutral-950);
  --color-state-selected: var(--color-neutral-950);
  
  --color-input-text-placeholder: var(--color-neutral-700);
  --color-input-text-placeholder-active: var(--color-brand-950);
  --color-input-border-default: var(--color-neutral-200);
  --color-input-border-error: var(--color-danger-600);
  --color-input-border-active: var(--color-brand-950);

  --color-card-hover: #f7f7f7;

  --color-black-text: #302f2e;
  --color-black-bg: #302f2e;
  --color-black-hover: #1a1a19;
  --color-black-light: #312943;
  --color-black-pure: #000;
  --color-grey-bg: #747473;
  --color-grey-text: #747473;
  --color-grey-border: #a09f9f;
  --color-grey-light: #eaeaea;
  --color-grey-noti: #595958;
  --color-blue-text: #247aed;
  --color-blue-light: #e9f2fd;
  --color-blue-light: #eaf3ff;
  --color-blue-sky: #428bec;
  --color-white-text: #fff;
  --color-white-bg: #fff;
  --color-white-text: #eaeaea;
  --color-white-pending: #fef3e9;
  --color-pink-border: #37223cb2;
  --color-error: #ee5f54;
  --color-delete: #ea3729;
  --color-pending-text: #f68523;
  --font-satoshi: "Satoshi", sans-serif;
  --font-grotesk: "ClashGrotesk", sans-serif;
}
:root {
  --black-text: #302f2e;
  --black-bg: #302f2e;
  --black-hover: #1a1a19;
  --lightblack: #312943;
  --pureblack: #000000;
  --black-grey: #747473;
  --black-grey-Text: #747473;
  --blue-text: #247aed;
  --light-blue: #e9f2fd;
  --white-text: #ffffff;
  --whitebg: #ffffff;
  --greyborder: #a09f9f;
  --lightgrey: #eaeaea;
  --lightwhiteText: #eaeaea;
  --lightblue: #eaf3ff;
  --skytext: #428bec;
  --pinkborder: #37223cb2;
  --error-color: #ee5f54;
  --notibg: #595958;
  --delete: #ea3729;
  --pendingbg: #fef3e9;
  --pendingtext: #f68523;
  --grotesk-font: "ClashGrotesk", sans-serif;
  --satoshi-font: "Satoshi", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--whitebg) !important;
}

a {
  text-decoration: none !important;
}

p {
  font-family: var(--satoshi-font);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid var(--blue-text) !important;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-family: var(--grotesk-font);
}
input[type="checkbox"]:checked {
  background-color: var(--blue-text);
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 45%;
  width: 5px;
  height: 10px;
  border: solid var(--whitebg);
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
input[type="radio"] {
  width: 16px;
  height: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--black-text) !important;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-family: var(--grotesk-font);
}
input[type="radio"]:checked {
  background-color: var(--blue-text) !important;
  border: 1px solid var(--blue-text) !important;
}
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--whitebg);
  transform: translate(-50%, -50%);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.text-display-1 {
  @apply font-grotesk text-5xl font-medium leading-[120%] tracking-[-0.96px];
}
.text-display-2 {
  @apply font-grotesk text-[2.5rem] font-medium leading-[120%] tracking-[-0.8px];
}
.text-heading-1 {
  @apply font-grotesk text-[1.75rem] font-normal leading-[107%] tracking-[-0.56px];
}
.text-heading-2 {
  @apply font-grotesk text-[1.375rem] font-normal leading-[127%] tracking-[-0.44px];
}
.text-heading-3 {
  @apply font-grotesk text-xl font-normal leading-[120%] tracking-[-0.4px];
}
.text-body-1 {
  @apply font-satoshi text-2xl font-medium leading-[125%] tracking-[-0.48px];
}
.text-body-2 {
  @apply font-satoshi text-xl font-normal leading-[170%] tracking-[-0.4px];
}
.text-body-3 {
  @apply font-satoshi text-lg font-normal leading-[144%] tracking-[-0.36px];
}
.text-body-3-emphasis {
  @apply font-satoshi text-lg font-medium leading-[144%] tracking-[-0.36px];
}
.text-body-4 {
  @apply font-satoshi text-base font-normal leading-[150%] tracking-[-0.32px];
}
.text-body-4-emphasis {
  @apply font-satoshi text-base font-medium leading-[150%] tracking-[-0.32px];
}
.text-label-1 {
  @apply font-satoshi text-base font-medium leading-[100%] tracking-[-0.32px];
}
.text-caption-1 {
  @apply font-satoshi text-sm font-normal leading-[142%] tracking-[-0.28px];
}
.text-caption-2 {
  @apply font-satoshi text-xs font-normal leading-[150%] tracking-[-0.24px];
}

.elevation-0 {
  @apply shadow-[0_0_0_0_rgba(0,0,0,0)];
}
.elevation-1 {
  @apply shadow-[0_0_8px_0_rgba(0,0,0,0.2)];
}
.elevation-2 {
  @apply shadow-[0_0_16px_0_rgba(0,0,0,0.4)];
}

.padding-x-default {
  @apply px-6;
}
.padding-x-compact {
  @apply px-4;
}
.padding-x-large {
  @apply px-8;
}

.rounded-default {
  @apply rounded-2xl;
}
