@import "tailwindcss";
/* Fonts */
@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk/clashgrotesk-regular-webfont.woff2")
      format("woff2"),
    url("/fonts/ClashGrotesk/clashgrotesk-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk/clashgrotesk-medium-webfont.woff2") format("woff2"),
    url("/fonts/ClashGrotesk/clashgrotesk-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk/clashgrotesk-bold-webfont.woff2") format("woff2"),
    url("/fonts/ClashGrotesk/clashgrotesk-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Light.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Regular.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Medium.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Bold.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Black.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@layer utilities {
  .scrollbar-hidden {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@theme {
  --color-black-text: #302f2e;
  --color-black-bg: #302f2e;
  --color-black-hover: #1a1a19;
  --color-black-light: #312943;
  --color-black-pure: #000;
  --color-grey-bg: #747473;
  --color-grey-text: #747473;
  --color-grey-border: #a09f9f;
  --color-grey-light: #eaeaea;
  --color-grey-noti: #595958;
  --color-blue-text: #247aed;
  --color-blue-light: #e9f2fd;
  --color-blue-light: #eaf3ff;
  --color-blue-sky: #428bec;
  --color-white-text: #fff;
  --color-white-bg: #fff;
  --color-white-text: #eaeaea;
  --color-white-pending: #fef3e9;
  --color-pink-border: #37223cb2;
  --color-error: #ee5f54;
  --color-delete: #ea3729;
  --color-pending-text: #f68523;
  --font-satoshi: "Satoshi", sans-serif;
  --font-grotesk: "ClashGrotesk", sans-serif;
}
:root {
  --black-text: #302f2e;
  --black-bg: #302f2e;
  --black-hover: #1a1a19;
  --lightblack: #312943;
  --pureblack: #000000;
  --black-grey: #747473;
  --black-grey-Text: #747473;
  --blue-text: #247aed;
  --light-blue: #e9f2fd;
  --white-text: #ffffff;
  --whitebg: #ffffff;
  --greyborder: #a09f9f;
  --lightgrey: #eaeaea;
  --lightwhiteText: #eaeaea;
  --lightblue: #eaf3ff;
  --skytext: #428bec;
  --pinkborder: #37223cb2;
  --error-color: #ee5f54;
  --notibg: #595958;
  --delete: #ea3729;
  --pendingbg: #fef3e9;
  --pendingtext: #f68523;
  --grotesk-font: "ClashGrotesk", sans-serif;
  --satoshi-font: "Satoshi", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--whitebg) !important;
}

.bodywrapper {
  padding-top: 80px;
  flex: 1;
}
.sidebarwrapper {
  display: flex;
  height: calc(100vh - 80px);
  padding-top: 80px;
  flex: 1;
}
.sidebarbodywrapper {
  flex: 1;
}
@media screen and (min-width: 1024px) {
  .bodywrapper {
    padding-top: 0px;
  }
  .sidebarwrapper {
    padding-top: 0px;
    overflow: hidden;
  }
  .sidebarbodywrapper {
    overflow-y: scroll;
  }
}

a {
  text-decoration: none !important;
}

p {
  font-family: var(--satoshi-font);
}

input[type="checkbox"] {
  width: 21px;
  height: 21px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid var(--blue-text) !important;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-family: var(--grotesk-font);
}
input[type="checkbox"]:checked {
  background-color: var(--blue-text);
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 45%;
  width: 5px;
  height: 10px;
  border: solid var(--whitebg);
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
input[type="radio"] {
  width: 16px;
  height: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--black-text) !important;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-family: var(--grotesk-font);
}
input[type="radio"]:checked {
  background-color: var(--blue-text) !important;
  border: 1px solid var(--blue-text) !important;
}
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--whitebg);
  transform: translate(-50%, -50%);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}