/* Fonts */
@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk/clashgrotesk-regular-webfont.woff2")
      format("woff2"),
    url("/fonts/ClashGrotesk/clashgrotesk-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk/clashgrotesk-medium-webfont.woff2") format("woff2"),
    url("/fonts/ClashGrotesk/clashgrotesk-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk/clashgrotesk-bold-webfont.woff2") format("woff2"),
    url("/fonts/ClashGrotesk/clashgrotesk-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Light.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Regular.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Medium.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Bold.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/satoshi-font/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/satoshi-font/Satoshi-Black.woff") format("woff"),
    url("/fonts/satoshi-font/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --black-text: #302f2e;
  --black-bg: #302f2e;
  --black-hover: #1a1a19;
  --darkblackbg: #141413;
  --blck: #333333;
  --lightblack: #312943;
  --purple-text: #37223c;
  --pureblack: #000000;
  --black-grey: #747473;
  --black-grey-Text: #747473;
  --black-grey1: #302f2e;
  --blue-text: #247aed;
  --light-blue: #e9f2fd;
  --darklight-blue: #f5f8fd;
  --white-text: #ffffff;
  --whitebg: #ffffff;
  --greyborder: #a09f9f;
  --greybg: #a09f9f;
  --lightgrey: #eaeaea;
  --greytext: #bfbfbe;
  --lightwhiteText: #eaeaea;
  --slectedbg: #76767617;
  --opacityBlue: #f8fbff;
  --opsbg: #fcd9bb;
  --foungbg: #f8c1bd;
  --popupbg: #eaeaea;
  --lightblue: #eaf3ff;
  --skytext: #428bec;
  --pinkborder: #37223cb2;
  --profileborder: #5d412f26;
  --warnggrdt:
    linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    linear-gradient(0deg, #f68523, #f68523);
  --greenbg: #b0dccd;
  --error-color: #ee5f54;
  --errorbg: #fdebea;
  --notibg: #595958;
  --avilblebg: #8ac1b133;
  --avilbleText: #8ac1b1;
  --lightgreen: #54b492;
  --offdutybg: #302f2e26;
  --counslingbg: #d0412226;
  --counslingtext: #d04122;
  --orange: #ff9500;
  --red: #ff3b30;
  --ddd: linear-gradient(
    180deg,
    rgba(191, 191, 190, 0.35) 0%,
    rgba(191, 191, 190, 0) 100%
  );
  --checkbg: #e6f4ef;
  --delete: #ea3729;
  --checkgreen: #008f5d;
  --greenopt: #8ac1b126;
  --halforange: #fdbd7426;
  --darkFawn: #d09b5e;
  --pendingbg: #fef3e9;
  --pendingtext: #f68523;
  --redopacity: #d041221a;
  --grotesk-font: "ClashGrotesk", sans-serif;
  --satoshi-font: "Satoshi", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--whitebg) !important;
}

.bodywrapper {
  padding-top: 80px;
  flex: 1;
}
.sidebarwrapper {
  display: flex;
  height: calc(100vh - 80px);
  padding-top: 80px;
  flex: 1;
}
.sidebarbodywrapper {
  flex: 1;
}
@media screen and (min-width: 1024px) {
  .bodywrapper {
    padding-top: 0px;
  }
  .sidebarwrapper {
    padding-top: 0px;
    overflow: hidden;
  }
  .sidebarbodywrapper {
    overflow-y: scroll;
  }
}

a {
  text-decoration: none !important;
}

p {
  font-family: var(--satoshi-font);
}

input[type="checkbox"] {
  width: 21px;
  height: 21px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid var(--blue-text) !important;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-family: var(--grotesk-font);
}
input[type="checkbox"]:checked {
  background-color: var(--blue-text);
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 45%;
  width: 5px;
  height: 10px;
  border: solid var(--whitebg);
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
input[type="radio"] {
  width: 16px;
  height: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--black-text) !important;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-family: var(--grotesk-font);
}
input[type="radio"]:checked {
  background-color: var(--blue-text) !important;
  border: 1px solid var(--blue-text) !important;
}
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--whitebg);
  transform: translate(-50%, -50%);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
