.OperationsWrapper {
  padding: 40px 80px 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: var(--font-satoshi);
}
.TitleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TitleContainer h2 {
  margin-bottom: 0px;
}

.InvitesWrapper,
.OrgaizationsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.InviteTitle {
  color: var(--color-text-primary);
  font-family: var(--font-satoshi);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.0275rem;
}

@media screen and (max-width: 1024px) {
  .OperationsWrapper {
    padding: 40px 48px;
  }
}

@media screen and (max-width: 768px) {
  .OperationsWrapper {
    padding: 20px 16px;
    gap: 24px;
  }
  .TitleContainer {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .TitleContainer h2 {
    font-size: 23px;
  }
}
