.OperationsWrapper {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.TitleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TitleContainer h2 {
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.66px;
  margin-bottom: 0px;
}

.InvitesWrapper,
.OrgaizationsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.InviteTitle {
  color: #000;
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.46px;
}

@media screen and (max-width: 1024px) {
  .OperationsWrapper {
    padding: 40px 48px;
  }
}

@media screen and (max-width: 768px) {
  .OperationsWrapper {
    padding: 20px 16px;
    gap: 24px;
  }
  .TitleContainer {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .TitleContainer h2 {
    font-size: 23px;
  }
}
