.step-search {
  display: flex;
  height: 48px;
  padding: 10px 24px 10px 56px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #eaeaea;
  position: relative;
}
.step-search-input {
  width: 100%;
  border: none;
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.36px;
  outline: none;
}
.step-search-icon {
  position: absolute;
  left: 24px;
}
.step-search-dropdown {
  position: absolute;
  top: 110%;
  left: 0px;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 10;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 10px 12px;
}
.step-search-speciality {
  display: flex;
  height: 48px;
  width: 100%;
  padding: 10px 24px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.step-search-speciality:hover {
  background-color: #f7f7f7;
}
.step-search-add {
  border: none;
  outline: none;
  height: 48px;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  background: var(--whitebg);
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.36px;
}
.step-search-speciality-title {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.36px;
}
.step-search-speciality-check {
  height: 16px !important;
  width: 16px !important;
  font-weight: 300 !important;
}
.step-search-speciality-check:checked::after {
  border-width: 0px 2px 2px 0px !important;
}
@media screen and (max-width: 768px) {
  .step-search {
    height: 48px;
  }
}
@media screen and (max-width: 350px) {
  .step-search {
    width: 100%;
  }
}
