.TableDiv {
   box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08) !important;
  background: var(--whitebg) !important;
  border: 1px solid var(--lightgrey) !important;
  border-radius: 24px !important;
  padding: 24px 20px !important;
  vertical-align: middle !important;
  margin: 0 !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.TableDiv thead tr th,
.TableDiv tbody tr td {
  padding: 12px 12px;
  vertical-align: middle;
  border-bottom: 1px solid var(--lightgrey);
}
.TableDiv thead tr th {
  color: var(--black-text);
  font-size: 15px;
  font-weight: 700;
  font-family: var(--satoshi-font);
  opacity: 70%;
}
.TableDiv tbody tr:last-child td {
  border-bottom: none;
}

.TableDiv tbody tr td p {
  margin: 0px;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
}
.TableDiv tbody tr td span {
  margin: 0px;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  opacity: 60%;
}
.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.custom-pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--whitebg) !important;
  border-radius: 8px;
  border: 1px solid var(--black-bg) !important;
  width: 36px;
  height: 36px;
  padding: 0;
}
.custom-pagination button svg {
  color: var(--black-bg);
}
.custom-pagination button:hover {
  background: var(--black-bg) !important;
}
.custom-pagination button:hover svg {
  color: var(--whitebg);
}
.custom-pagination p {
  color: var(--notibg);
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--satoshi-font);
}
.custom-pagination p span {
  font-weight: 700;
}

@media screen and (max-width: 1440px) {
  .TableDiv {
    padding: 14px 10px !important;
  }
  .TableDiv thead tr th,
  .TableDiv tbody tr td {
    padding: 8px 8px !important;
  }
}
