.TableDiv {
  background: var(--whitebg) !important;
  border: 1px solid var(--lightgrey) !important;
  border-radius: 16px !important;
  padding: 16px 16px !important;
  vertical-align: middle !important;
  margin: 0 !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.TableDiv thead tr th,
.TableDiv tbody tr td {
  padding: 6px 11px;
  vertical-align: middle;
  border-bottom: 1px solid var(--lightgrey);
}
.TableDiv thead tr th {
  color: #747473;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--satoshi-font);
  letter-spacing: -0.24px;
  line-height: 150%;
}
.TableDiv tbody tr:last-child td {
  border-bottom: none;
}

.TableDiv tbody tr td p {
  margin: 0px;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
}
.TableDiv tbody tr td span {
  margin: 0px;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  opacity: 60%;
}
