.file-input-label {
  width: 100%;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 16px;
 border: 1px dashed #747473;
 cursor: pointer;
}
.upload-title {
  color: var(--black-text);
  text-align: center;
  font-family: var(--grotesk-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.18px;
}
.upload-desc {
    color: var(--black-text);
text-align: center;
font-family: var(--satoshi-font);
max-width: 240px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%;
}
