.PracBox {
  background: var(--whitebg);
  border: 1px solid var(--lightgrey);
  border-radius: 16px;
  width: 100%;
  min-height: 300px;
  max-width: 350px;
  padding: 24px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.PracBox h4 {
  font-family: var(--grotesk-font);
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
  margin-top: 12px;
  margin-bottom: 4px;
}
.PracBox p {
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: var(--black-text);
  margin: 0;
  opacity: 80%;
}

@media screen and (max-width: 1280px) {
  .PracBox {
    min-height: 205px;
    max-width: 250px;
    padding: 16px;
  }
  .PracBox h4 {
    font-size: 19px;
  }
  .PracBox p {
    font-size: 13px;
  }
  .PracBox img {
    width: 64px;
    height: 64px;
  }
}
@media screen and (max-width: 768px) {
  .PracBox {
    min-height: 170px;
    max-width: 200px;
  }
  .PracBox h4 {
    font-size: 19px;
  }
  .PracBox p {
    font-size: 13px;
  }
  .PracBox img {
    width: 46px;
    height: 46px;
  }
}
@media screen and (max-width: 550px) {
  .PracBox {
    min-height: 170px;
    max-width: 100%;
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 400px) {
  .PracBox {
    min-height: 170px;
    max-width: 85%;
    flex: 1 1 100%;
  }
}
