@media screen and (max-width: 768px) {
  .auth-title {
    font-family: var(--font-satoshi);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: -0.03rem;
  }
  .auth-inline-text,
  .auth-link-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.0175rem;
  }
  .auth-feature-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.02rem;
  }
  .auth-feature-desc {
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: -0.015rem;
  }
}

@media screen and (max-width: 640px) {
  .auth-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.025rem;
  }
  .auth-inline-text,
  .auth-link-text {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .auth-feature-title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.0175rem;
  }
  .auth-feature-desc {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
