.video-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.video-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.video-title {
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.66px;
}
.video-header svg {
  cursor: pointer;
}
.video-desc {
  color: var(--black-grey);
  font-family: var(--satosi-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.36px;
}
.video-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.video-item {
  border-radius: 16px;
  border: 1px solid #eaeaea;
  background: #fff;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: calc(33% - 15px);
  cursor: pointer;
}
.video-play {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  min-height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("https://d2il6osz49gpup.cloudfront.net/Images/landingbg1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.video-text {
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.38px;
  padding: 4px 12px;
}
@media screen and (max-width: 1280px) {
  .video-item {
    min-height: 340px;
  }
  .video-play {
    min-height: 250px;
  }
  .video-text {
    font-size: 16px;
    padding: 4px 8px;
  }
  .video-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .video-item {
    min-height: 290px;
  }
  .video-play {
    min-height: 200px;
  }
  .video-title {
    font-size: 23px;
  }
  .video-desc {
    font-size: 13px;
  }
}
@media screen and (max-width: 640px) {
  .video-list {
    flex-direction: column;
  }
  .video-item {
    min-height: 300px;
    width: 100%;
    padding-bottom: 15px;
    gap: 15px;
  }
  .video-play {
    min-height: 250px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .video-item {
    min-height: 230px;
  }
}
