.stat-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stat-revenue-leaders {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid var(--lightgrey);
  background: var(--whitebg);
  box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.08);
  width: 100%;
  min-height: 334px;
  height: 100%;
}
.stat-revenue-leader {
  background: var(--black-bg);
  padding: 16px;
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
  height: 50%;
}
.stat-revenue-leader-two .stat-revenue-leader {
  height: 100%;
}
.stat-revenue-leader-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  height: 50%;
}
.stat-revenue-leader-value {
  color: #fff;
  font-family: var(--grotesk-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.56px;
}
.stat-revenue-leader-name {
  color: #fff;
  font-family: var(--grotesk-font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.39px;
}
