.org-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid var(--lightgrey);
  background: #fff;
  width: 100%;
  min-width: 300px;
}
.org-card-title {
  color: var(--blue-text);
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.36px;
}
.org-card-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.org-card-item-label {
  color: var(--black-grey);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.3px;
}
.org-card-item-value {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.3px;
}
.org-card-status {
  padding: 8px;
  text-align: center;
  width: 100%;
  border-radius: 8px;
}
