.MainSignUpSec {
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/SignUpBg.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.MainSignUpRow {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 80px 116px !important;
}

.MainSignCol {
  width: 100%;
}

.BuildEveryone {
  width: 265px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.BuildEveryone .SignBuildText h2 {
  font-family: var(--grotesk-font);
  color: var(--black-text);
  font-weight: 500;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: -1px;
  margin: 0;
}

.BuildEveryone .BuildCloud {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.BuildEveryone .BuildCloud .CloudItems {
  display: flex;
  gap: 8px;
}

.BuildEveryone .BuildCloud .CloudItems .CloudIcon span svg {
  font-size: 20px;
  color: var(--blue-text);
}

.BuildEveryone .BuildCloud .CloudItems .CloudText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.BuildEveryone .BuildCloud .CloudItems .CloudText h4 {
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  margin: 0;
}
.BuildEveryone .BuildCloud .CloudItems .CloudText p {
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  margin: 0;
}

.SignUpFormDiv {
  background-color: var(--whitebg);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
  font-weight: 500;
  border-radius: 32px;
  padding: 20px;
  width: 100%;
  margin-left: auto;
  border: 1px solid #eaeaea;
  margin-right: 0;
}
.SignUpFormDiv form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.SignUpFormDiv form .TopSignUp {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.SignUpFormDiv form .TopSignUp .SignFormItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Headingtext h2 {
  font-family: var(--grotesk-font);
  color: var(--black-text);
}

/* Toggle */
.SignUpFormDiv form .business-type-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.SignUpFormDiv form .business-type-container p {
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.SignUpFormDiv form .business-type-container .button-group ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.SignUpFormDiv form .business-type-container .button-group .business-button {
  padding: 0px 20px;
  border: 0.5px solid var(--black-text);
  border-radius: 28px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--satoshi-font);
  color: var(--bluecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  min-height: 48px;
}
.SignUpFormDiv
  form
  .business-type-container
  .button-group
  .business-button:hover {
  color: var(--white-text);
  border-color: var(--black-text);
  background: var(--black-text);
}
.SignUpFormDiv
  form
  .business-type-container
  .button-group
  .business-button.selected {
  color: var(--white-text);
  border-color: var(--black-text);
  background: var(--black-text);
  font-weight: 700;
}
.SignUpFormDiv form .Sign_check {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.SignUpFormDiv form .Sign_check .form-check {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.SignUpFormDiv form .Sign_check .form-check label {
  font-family: var(--satoshi-font);
  font-size: 14px;
  font-weight: 500;
  color: var(--black-text);
}
.SignUpFormDiv form .Sign_check .form-check label .policylink {
  color: var(--blue-text);
}

.Signbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.Signbtn h6 {
  color: var(--black-text);
  font-weight: 500;
  font-size: 19px;
  line-height: 120%;
  font-family: var(--grotesk-font);
  margin: 0;
}
.Signbtn h6 a {
  color: var(--blue-text);
}

/* Sign Up Page Ended */

/* CompleteSignUpSec Started  */

.CompleteSignUpSec {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
}
.LeftCompleteSign {
  background-image: url("https://d2il6osz49gpup.cloudfront.net/Images/SignInBg.png");
  background-size: 100% 100%;
  object-position: center;
  min-height: 100vh;
}

.RightCompleteSign {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ComplteSignInner {
  width: 100%;
  max-width: 630px;
  padding: 40px;
}
.ComplteSignInner form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ComplteSignInner .CompleteText h2 {
  font-size: 33px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  text-align: center;
  margin: 0;
}
.ComplteSignInner .CompleteText h2 span {
  color: var(--black-grey);
}
.ComplteSignInner form .CompletSignInpt {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.ComplteSignInner form .CompletSignInpt h6 {
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  margin: 0;
}
.CompletSignInpt .inputDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.CompletSignInpt .inputDiv .pasdiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.CompletSignInpt .inputDiv .pasdiv p {
  padding: 0px 16px;
  opacity: 50%;
  color: var(--pureblack);
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-family: var(--satoshi-font);
}

.Errors {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px 16px;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  font-family: var(--satoshi-font);
  color: var(--delete);
  margin-top: 6px;
}

@media (min-width: 768px) {
  .MainSignUpRow {
    width: 492px;
  }

  .BuildEveryone .SignBuildText h2 {
    font-size: 33px;
    letter-spacing: -1px;
  }

  .Headingtext h2 {
    font-size: 33px;
    letter-spacing: -1px;
  }

  .BuildEveryone {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .MainSignUpRow {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
  }

  .MainSignCol {
    width: 47%;
    padding: 0;
  }

  .BuildEveryone .SignBuildText h2 {
    font-size: 57px;
  }

  .BuildEveryone .BuildCloud .CloudItems .CloudText h4 {
    font-weight: 700;
    font-size: 18px;
  }
  .BuildEveryone .BuildCloud .CloudItems .CloudText p {
    margin-right: 1px;
    font-weight: 400;
    font-size: 18px;
  }

  .Headingtext h2 {
    font-size: 48px;
    letter-spacing: -2px;
  }

  .SignUpFormDiv form .Sign_check .form-check label {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  .MainSignUpRow {
    max-width: 1400px;
    margin: 80px;
  }

  .MainSignCol {
    width: 43%;
  }
}

.BlackButton {
  background: var(--black-text) !important;
  padding: 16px 32px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 28px !important;
  min-height: 60px;
  width: 100%;
  border: 1px solid var(--black-text) !important;
  color: var(--white-text) !important;
  font-weight: 500 !important;
  font-size: 23px !important;
  line-height: 120%;
  font-family: var(--grotesk-font) !important;
}
.BlackButton:hover {
  background: transparent !important;
  color: var(--black-text) !important;
  border: 1px solid var(--black-text) !important;
}
.BlackButton svg {
  font-size: 24px;
}
