.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-family: var(--font-satoshi) !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 112.5%;
  text-align: center;
  letter-spacing: -0.32px !important;
  transition: all 0.3s ease;
  padding: 16px 32px;
  max-height: 48px !important;
}
.primary-button {
  background: var(--black-bg);
  color: var(--white-text);
  border: 1px solid var(--black-bg);
}
.secondary-button {
  background: var(--whitebg);
  color: var(--black-text);
  border: 1px solid var(--black-text);
}

.primary-button:hover {
  background: var(--black-hover);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
}
.secondary-button:hover {
  background: var(--whitebg);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
}
