.PwtOwnerContainer {
  padding: 0px 80px;
  max-width: 1560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .PwtOwnerContainer {
    padding: 32px 48px;
  }
}
@media screen and (max-width: 768px) {
  .PwtOwnerContainer {
    padding: 16px 16px;
  }
}

.DownlodeBody {
  background: linear-gradient(355.06deg, #ffffff 64.22%, #eaeef6 95.67%);
}
.DownlodeSec {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Downlode_Data {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 32px;
}
.Downlode_Data img {
  width: 50%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}
.downlodetext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 50%;
}
.downlodetext > div {
  margin: 0;
}
.downlodetext > div:first-child {
  max-width: 500px;
}
.downlodetext > div:last-child {
  max-width: 480px;
}
@media screen and (max-width: 1280px) {
  .downlodetext {
    width: 45%;
  }
  .downlodetext > div:first-child {
    font-size: 2.0625rem;
    line-height: 2.5rem;
    max-width: 300px;
  }
  .Downlode_Data img {
    width: 55%;
  }
}
@media screen and (max-width: 1024px) {
  .DownlodeSec {
    min-height: auto;
  }
  .PetToolkitSec {
    min-height: auto;
  }
  .Downlode_Data {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .Downlode_Data img {
    width: 100%;
    height: auto;
    max-height: none;
  }
  .downlodetext {
    width: 100%;
    align-items: center;
  }
  .downlodetext > div:first-child {
    text-align: center;
    max-width: 350px;
  }
  .downlodetext > div:last-child {
    text-align: center;
    width: 100%;
    max-width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .downlodetext {
    gap: 8px;
    align-items: center;
    text-align: center;
  }
  .Downlode_Data {
    gap: 24px;
  }
  .Downlode_Data img {
    width: 80%;
  }
}

/* PetToolkitSec  */

.PetToolkitSec {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 6vh;
}
.ToolkitData {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.ToolkitHead > div {
  margin: 0;
  text-align: center;
}
.ToolkitCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.CardToolItem {
  height: 180px;
  width: 180px;
  border-radius: 12px;
  background: var(--blue-text);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.CardToolItem svg {
  color: var(--skytext);
  width: 100px;
  height: 100px;
}
.CardToolItem > div {
  text-align: center;
  margin: 0;
  align-self: center;
  font-size: 1rem;
  line-height: 1.25rem;
}
@media screen and (max-width: 1280px) {
  .CardToolItem {
    height: 210px;
    width: 210px;
    gap: 12px;
  }
  .ToolkitHead > div {
    font-size: 2.0625rem;
  }
  .CardToolItem svg {
    height: 88px;
    width: 88px;
  }
  .CardToolItem > div {
    font-size: 1.1875rem;
  }
}
@media screen and (max-width: 768px) {
  .ToolkitCard {
    gap: 8px;
  }
  .CardToolItem {
    height: 160px;
    width: 150px;
    gap: 10px;
  }
  .CardToolItem svg {
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 340px) {
  .CardToolItem {
    height: 160px;
    width: 160px;
    gap: 8px;
  }
  .CardToolItem svg {
    height: 60px;
    width: 60px;
  }
}

/* PawsPraisesSec */
.PawsPraisesSec {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0px;
}
.PawsPrasData {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.PawsHead {
  text-align: center;
}
.PawsHead > div {
  margin: 0;
}
.BrownDiv img,
.PurpleDiv img,
.GreenDiv img {
  width: 100%;
}
.BrownDiv,
.PurpleDiv,
.GreenDiv {
  position: relative;
}
.BrownDiv::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/Paws1after.png")
    no-repeat;
  background-size: 100% 100%;
  left: 55px;
  top: -55px;
  width: 137px;
  height: 132px;
  animation: rotate-image 10s linear infinite;
}
.PurpleDiv::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/Paws2after.png")
    no-repeat;
  background-size: 100% 100%;
  top: -10px;
  right: 95px;
  width: 107px;
  height: 107px;
  animation: rotate-image 10s linear infinite;
}
.GreenDiv::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/Paws3after.png")
    no-repeat;
  background-size: 100% 100%;
  left: 160px;
  bottom: -22px;
  width: 108px;
  height: 108px;
  animation: rotate-image 10s linear infinite;
}
@keyframes rotate-image {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 1280px) {
  .PawsHead > div {
    font-size: 2.0625rem;
  }
  .BrownDiv::after {
    left: 50px;
    top: -55px;
    width: 90px;
    height: 85px;
  }
  .PurpleDiv::after {
    top: -10px;
    right: 105px;
    width: 80px;
    height: 80px;
  }
  .GreenDiv::after {
    left: 105px;
    bottom: -22px;
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .PawsPraisesSec {
    padding: 16px 0px;
  }
  /* Typography handled by global classes */
  .BrownDiv::after {
    left: 50px;
    top: -15px;
    width: 60px;
    height: 55px;
  }
  .PurpleDiv::after {
    top: -10px;
    right: 35px;
    width: 60px;
    height: 60px;
  }
  .GreenDiv::after {
    left: 50px;
    bottom: -12px;
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 640px) {
  .BrownDiv::after {
    left: 20px;
    top: -5px;
    width: 40px;
    height: 35px;
  }
  .PurpleDiv::after {
    top: -10px;
    right: 5px;
    width: 40px;
    height: 40px;
  }
  .GreenDiv::after {
    left: 20px;
    bottom: -12px;
    width: 40px;
    height: 40px;
  }
}

/* GlimpseSec Started */

.GlimpseSec {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/glimpsbg.png")
    no-repeat;
  background-size: 100% 80%;
  margin-top: 50px;
}
.GlimsData {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}
.GlimsData .GlimpsHead {
  text-align: center;
}
.GlimsData .GlimpsHead > div {
  margin: 0;
}
.GlimpsImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.GlimpsImage img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1280px) {
  .GlimsData .GlimpsHead > div {
    font-size: 2.0625rem;
  }
  .GlimsData {
    gap: 10px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .GlimsData {
    gap: 10px;
    padding-top: 20px;
  }
}

/* GlimpseSec Ended */

/* PetAppSec */

.PetAppSec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PetAppSec::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/LINES.png")
    no-repeat;
  background-size: 100% 100%;
  top: 50px;
  left: 0;
  width: 100%;
  height: 330px;
}
.PetAppData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  gap: 80px;
}
.LftpetApp {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.PetAppText > div:first-child {
  max-width: 500px;
}
.PetAppText > div:last-child {
  max-width: 407px;
  margin-bottom: 0px !important;
}
.RytpetApp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.RytpetApp img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1280px) {
  .PetAppData {
    gap: 20px;
  }
  .PetAppText > div:first-child {
    font-size: 2.0625rem;
    max-width: 300px;
    line-height: 120%;
  }
  .PetAppText > div:last-child {
    font-size: 1rem;
    line-height: 130%;
    max-width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .PetAppText > div:first-child {
    max-width: 100%;
    text-align: center;
  }
  .LftpetApp {
    align-items: center;
  }
  .PetAppText > div:last-child {
    max-width: 100%;
    text-align: center;
  }
  .PetAppData {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .RytpetApp img {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .PetAppData {
    margin-bottom: 30px;
  }
  .RytpetApp img {
    width: 80%;
  }
}

.PetAppBtn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.PetAppBtn a {
  background: var(--black-bg);
  border: 1px solid var(--black-bg);
  min-width: 215px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 16px 28px;
  gap: 10px;
  transition: all 0.3s ease;
}
.PetAppBtn a:hover {
  background: var(--black-bg);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.32);
}
.PetAppBtn a svg {
  color: var(--whitebg);
}
.PetAppBtn a:hover svg {
  color: var(--whitebg);
}
.PetAppBtn a div {
  display: flex;
  flex-direction: column;
}
.app-store-text-small {
  font-family: var(--grotesk-font);
  font-size: 13px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  color: var(--white-text);
}
.app-store-text-large {
  color: var(--white-text);
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  white-space: nowrap;
}

@media screen and (max-width: 1280px) {
  .PetAppBtn a {
    padding: 16px 14px;
  }
}
@media screen and (max-width: 1024px) {
  .PetAppBtn a div {
    width: 130px;
  }
  .app-store-text-small {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .PetAppBtn a {
    min-width: 150px;
    padding: 8px 14px;
    height: 52px;
  }
  .PetAppBtn a div {
    width: 90px;
  }
  .app-store-text-small {
    font-size: 9px;
  }
  .app-store-text-large {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .PetAppBtn {
    flex-direction: column;
  }
}

.ComingSoonBtn {
  padding: 12px 16px;
  background: var(--blue-text);
  border-radius: 16px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  cursor: pointer;
}
.ComingSoonBtn > div {
  text-align: center;
  margin: 0px;
}
.ComingSoonStar {
  margin-bottom: 2px;
}
