.PwtOwnerContainer {
  padding: 32px 80px;
  max-width: 1560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .PwtOwnerContainer {
    padding: 32px 48px;
  }
}
@media screen and (max-width: 768px) {
  .PwtOwnerContainer {
    padding: 16px 16px;
  }
}

.DownlodeBody {
  background: linear-gradient(355.06deg, #ffffff 64.22%, #eaeef6 95.67%);
}
.DownlodeSec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Downlode_Data {
  display: flex;
  height: 100%;
  width: 100%;
}
.Downlode_Data img {
  width: 58%;
  height: auto;
}
.downlodetext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 42%;
}
.downlodetext h1 {
  font-family: var(--grotesk-font);
  font-size: 48px;
  font-weight: 500;
  line-height: 58.4px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  max-width: 450px;
}
.downlodetext p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.6px;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 430px;
}
@media screen and (max-width: 1280px) {
  .downlodetext {
    width: 45%;
  }
  .downlodetext h1 {
    font-size: 33px;
    max-width: 300px;
    line-height: 120%;
  }
  .Downlode_Data img {
    width: 55%;
  }
}
@media screen and (max-width: 1024px) {
  .Downlode_Data {
    flex-direction: column;
    gap: 32px;
  }
  .Downlode_Data img {
    width: 100%;
    height: auto;
  }
  .downlodetext {
    width: 100%;
    align-items: center;
  }
  .downlodetext h1 {
    text-align: center;
    max-width: 350px;
  }
  .downlodetext p {
    text-align: center;
    width: 100%;
    max-width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .downlodetext {
    gap: 0px;
  }
  .downlodetext h1 {
    font-size: 23px;
  }
  .downlodetext p {
    font-size: 13px;
    line-height: 130%;
  }
}

/* PetToolkitSec  */

.PetToolkitSec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ToolkitData {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}
.ToolkitHead h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  color: var(--pureblack);
  margin: 0;
  text-align: center;
}
.ToolkitCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}
.CardToolItem {
  height: 240px;
  width: 240px;
  border-radius: 16px;
  background: var(--blue-text);
  padding: 12px;
}
.CardToolItem svg {
  color: var(--skytext);
  position: relative;
  top: -15px;
  right: -90px;
}
.CardToolItem h6 {
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: var(--white-text);
  margin: 0;
}
@media screen and (max-width: 1280px) {
  .CardToolItem {
    height: 210px;
    width: 210px;
  }
  .ToolkitHead h2 {
    font-size: 33px;
  }
  .CardToolItem svg {
    height: 120px;
    width: 120px;
    top: -15px;
    right: -70px;
  }
  .CardToolItem h6 {
    font-size: 19px;
  }
}
@media screen and (max-width: 768px) {
  .ToolkitCard {
    gap: 8px;
  }
  .CardToolItem {
    height: 160px;
    width: 150px;
  }
  .ToolkitHead h2 {
    font-size: 23px;
  }
  .CardToolItem svg {
    height: 90px;
    width: 90px;
    top: -15px;
    right: -50px;
  }
  .CardToolItem h6 {
    font-size: 14px;
  }
}

/* PawsPraisesSec */
.PawsPraisesSec {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0px;
}
.PawsPrasData {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.PawsHead {
  text-align: center;
}
.PawsHead h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  color: var(--pureblack);
  margin: 0;
}
.BrownDiv img,
.PurpleDiv img,
.GreenDiv img {
  width: 100%;
}
.BrownDiv,
.PurpleDiv,
.GreenDiv {
  position: relative;
}
.BrownDiv::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/Paws1after.png")
    no-repeat;
  background-size: 100% 100%;
  left: 55px;
  top: -55px;
  width: 137px;
  height: 132px;
  animation: rotate-image 10s linear infinite;
}
.PurpleDiv::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/Paws2after.png")
    no-repeat;
  background-size: 100% 100%;
  top: -10px;
  right: 95px;
  width: 107px;
  height: 107px;
  animation: rotate-image 10s linear infinite;
}
.GreenDiv::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/Paws3after.png")
    no-repeat;
  background-size: 100% 100%;
  left: 160px;
  bottom: -22px;
  width: 108px;
  height: 108px;
  animation: rotate-image 10s linear infinite;
}
@keyframes rotate-image {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 1280px) {
  .PawsHead h2 {
    font-size: 33px;
  }
  .BrownDiv::after {
    left: 50px;
    top: -55px;
    width: 90px;
    height: 85px;
  }
  .PurpleDiv::after {
    top: -10px;
    right: 105px;
    width: 80px;
    height: 80px;
  }
  .GreenDiv::after {
    left: 105px;
    bottom: -22px;
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .PawsPraisesSec {
    padding: 16px 0px;
  }
  .PawsHead h2 {
    font-size: 23px;
  }
  .BrownDiv::after {
    left: 50px;
    top: -15px;
    width: 60px;
    height: 55px;
  }
  .PurpleDiv::after {
    top: -10px;
    right: 35px;
    width: 60px;
    height: 60px;
  }
  .GreenDiv::after {
    left: 50px;
    bottom: -12px;
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 640px) {
  .BrownDiv::after {
    left: 20px;
    top: -5px;
    width: 40px;
    height: 35px;
  }
  .PurpleDiv::after {
    top: -10px;
    right: 5px;
    width: 40px;
    height: 40px;
  }
  .GreenDiv::after {
    left: 20px;
    bottom: -12px;
    width: 40px;
    height: 40px;
  }
}

/* GlimpseSec Started */

.GlimpseSec {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/glimpsbg.png")
    no-repeat;
  background-size: 100% 80%;
  margin-top: 50px;
}
.GlimsData {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}
.GlimsData .GlimpsHead {
  text-align: center;
}
.GlimsData .GlimpsHead h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  color: var(--pureblack);
  margin: 0;
}
.GlimpsImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.GlimpsImage img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1280px) {
  .GlimsData .GlimpsHead h2 {
    font-size: 33px;
  }
  .GlimsData {
    gap: 10px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .GlimsData .GlimpsHead h2 {
    font-size: 23px;
  }
  .GlimsData {
    gap: 10px;
    padding-top: 20px;
  }
}

/* GlimpseSec Ended */

/* PetAppSec */

.PetAppSec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PetAppSec::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/LINES.png")
    no-repeat;
  background-size: 100% 100%;
  top: 50px;
  left: 0;
  width: 100%;
  height: 330px;
}
.PetAppData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  gap: 80px;
}
.LftpetApp {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.PetAppText h2 {
  font-family: var(--grotesk-font);
  font-size: 48px;
  font-weight: 500;
  line-height: 58.4px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  max-width: 500px;
}
.PetAppText p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.6px;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 407px;
  margin-bottom: 0px !important;
}
.RytpetApp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.RytpetApp img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1280px) {
  .PetAppData {
    gap: 20px;
  }
  .PetAppText h2 {
    font-size: 33px;
    max-width: 300px;
    line-height: 120%;
  }
  .PetAppText p {
    font-size: 16px;
    line-height: 130%;
    max-width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .PetAppText h2 {
    max-width: 100%;
    text-align: center;
  }
  .LftpetApp {
    align-items: center;
  }
  .PetAppText p {
    max-width: 100%;
    text-align: center;
  }
  .PetAppData {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .RytpetApp img {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .PetAppText h2 {
    font-size: 23px;
  }
  .PetAppText p {
    font-size: 13px;
  }
  .PetAppData {
    margin-bottom: 30px;
  }
  .RytpetApp img {
    width: 80%;
  }
}

.PetAppBtn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.PetAppBtn a {
  border: 1px solid var(--black-bg);
  min-width: 215px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 16px 28px;
  background: transparent;
  gap: 10px;
}
.PetAppBtn a:hover {
  background: var(--black-bg);
}
.PetAppBtn a svg {
  color: var(--black-bg);
}
.PetAppBtn a:hover svg {
  color: var(--whitebg);
}
.PetAppBtn a div {
  display: flex;
  flex-direction: column;
}
.PetAppBtn a div p {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}
.PetAppBtn a div h6 {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}
.PetAppBtn a:hover div p,
.PetAppBtn a:hover div h6 {
  color: var(--white-text);
}

@media screen and (max-width: 1280px) {
  .PetAppBtn a {
    padding: 16px 14px;
  }
}
@media screen and (max-width: 1024px) {
  .PetAppBtn a div {
    width: 130px;
  }
  .PetAppBtn a div p {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .PetAppBtn a {
    min-width: 150px;
    padding: 8px 14px;
    height: 52px;
  }
  .PetAppBtn a div {
    width: 90px;
  }
  .PetAppBtn a div p {
    font-size: 9px;
  }
  .PetAppBtn a div h6 {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .PetAppBtn {
    flex-direction: column;
  }
}

.ComingSoonBtn {
  padding: 12px 16px;
  background: var(--blue-text);
  border-radius: 16px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  cursor: pointer;
}
.ComingSoonBtn h3 {
  color: var(--lightgrey);
  text-align: center;
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.36px;
  margin: 0px;
}
.ComingSoonStar {
  margin-bottom: 2px;
}
