.SignInSec {
  width: 100%;
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/SignUpBg.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 100px);
}
.RightSignIn {
  height: fit-content;
  width: 544px;
  justify-content: center;
  background: var(--whitebg);
  display: flex;
  padding: 60px 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  border: 1px solid var(--lightgrey);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
}
.RightSignIn form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;
}
.RightSignIn .TopSignInner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.RightSignIn .TopSignInner h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  text-align: center;
  margin: 0;
}
.forgtbtn {
  text-align: end;
}
.forgtbtn a {
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--black-text);
  font-family: var(--grotesk-font);
}
.forgtbtn a:hover {
  color: var(--black-grey);
}

.Signbtn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Signbtn h6 {
  text-align: center;
  font-size: 19px;
}

@media screen and (max-width: 1280px) {
  .RightSignIn {
    padding: 40px 32px;
    height: fit-content;
  }
  .RightSignIn .TopSignInner h2 {
    font-size: 33px;
  }
}

@media screen and (max-width: 1024px) {
  .SignInSec {
    height: calc(100vh - 80px);
  }
}

@media screen and (max-width: 768px) {
  .SignInSec {
    padding: 32px 16px;
  }
  .RightSignIn {
    padding: 40px 16px;
    height: fit-content;
    width: 100%;
    max-width: 450px;
  }
  .RightSignIn .TopSignInner h2 {
    font-size: 23px;
  }
  .forgtbtn a {
    font-size: 16px;
  }
  .Signbtn h6 {
    font-size: 16px;
  }
}
