.user-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  gap: 100px;
  width: 100%;
  height: 80px;
}
@media screen and (max-width: 1280px) {
  .user-header-container {
    gap: 40px;
    padding: 0px 48px;
  }
}
@media screen and (max-width: 768px) {
  .user-header-container {
    padding: 0px 16px;
  }
}

.logo {
  padding: 0px;
  width: 80px;
  height: 72px;
}

.logo img {
  width: auto;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .logo {
    width: 72px;
    height: 67px;
  }
}

.headerRight{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
