.FaqSection{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.FaqSection .FaqData {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 100%;
}
.FaqSection .FaqData .faqhead h2 {
  font-size: 48px;
  line-height: 120%;
  margin: 0;
  font-family: var(--grotesk-font);
  text-align: center;
  color: var(--black-text);
}

.FAQ_Accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 0px;
}
.Faq_accordion_item {
  box-shadow: 0px 5px 16px 0px #080f340f;
  border-radius: 16px !important;
  height: 100%;
}
.FaQ_Header {
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  min-height: 132px;
  display: flex;
}
.FaQ_Header button {
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
  color: var(--black-text) !important;
}
.Faq_button {
  border-radius: 16px !important;
  outline: none !important;
  padding: 40px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 40px 20px 0px 40px;
}
.Faq_accordion_item:has(.accordion-button:not(.collapsed)) {
  border: 1px solid var(--blue-text) !important;
  box-shadow: 0px 6px 16px 0px #247aed26;
}
.FaQ_Header:has(.accordion-button:not(.collapsed)) {
  min-height: unset;
}

.accordion-button::after {
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/rightfaq.png") !important;
  background-size: 100% 100% !important;
  width: 50px !important;
  height: 50px !important;
}
.accordion-button:not(.collapsed)::after {
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/downfaq.png") !important;
  background-size: 100% 100% !important;
  width: 32px !important;
  height: 32px !important;
  transform: rotate(-0deg) !important;
}

.FAQ_Accordion .accordion-body {
  padding: 15px 80px 40px 40px;
}
.FAQ_Accordion .accordion-body p {
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .FaqSection .FaqData .faqhead h2 {
    font-size: 33px;
  }
  .FaQ_Header button {
    font-size: 19px;
  }
}

@media screen and (max-width: 768px) {
  .FaqSection .FaqData .faqhead h2 {
    font-size: 23px;
  }
  .Faq_button {
    padding: 0px 16px;
  }
  .accordion-button:not(.collapsed) {
    padding: 20px 10px 0px 16px;
  }
  .FAQ_Accordion .accordion-body {
    padding: 5px 48px 20px 16px;
  }
  .FaQ_Header button {
    font-size: 16px;
    line-height: 120%;
  }
  .FAQ_Accordion .accordion-body p {
    font-size: 13px;
    line-height: 120%;
  }
  .FAQ_Accordion {
    padding: 0px 0px;
  }
}
