.Container {
  padding: 32px 80px 82px;
  max-width: 1560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}
@media screen and (max-width: 1280px) {
  .Container {
    padding: 32px 48px;
  }
}
@media screen and (max-width: 768px) {
  .Container {
    padding: 16px 16px;
  }
}

.DevlpHeroSec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.DevlpHeroData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.DevlpHeroData .LeftDevBanr {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  padding-right: 50px;
}
.LeftDevBanr .devbanrtext > div {
  margin: 0;
}
.DevbanrBtn {
  display: flex;
  align-items: center;
  gap: 12px;
}
.RytDevBanr img {
  width: 100%;
  height: auto;
}
.floating {
  animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 1280px) {
  .LeftDevBanr .devbanrtext > div:first-child {
    font-size: 2.0625rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .DevlpHeroData .LeftDevBanr {
    max-width: 100%;
    padding-right: 0px;
    align-items: center;
  }
  .DevlpHeroData {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .LeftDevBanr .devbanrtext > div {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .DevlpHeroData {
    grid-gap: 16px;
  }
  .LeftDevBanr .devbanrtext > div:first-child {
    font-size: 1.4375rem;
    line-height: 1.75rem;
  }
  .LeftDevBanr .devbanrtext > div:last-child {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
  }
}
/* DevlYousmiteSec */

.DevlYousmiteSec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.DevlYousmiteSecData {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.YousmiteCrew {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.YousmiteCrew > div {
  margin: 0;
}
.DevYousmiteBoxed {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  width: 100%;
  justify-content: center;
}
.DevYousmiteBoxed::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/devcoseafter.png");
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.DevCrewBox {
  background: var(--lightgrey);
  padding: 32px 16px;
  border-radius: 16px;
  overflow: hidden;
}
.crewText {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.crewText > div {
  margin: 0;
}
.crewbox1 {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.crewbox1 img {
  position: absolute;
  right: 50px;
  bottom: 0;
}
.crewbox2 {
  width: 553px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.crewbox3 {
  width: 383px;
  height: 300px;
  display: flex;
  align-items: flex-start;
}
.crewbox3 .crewText {
  width: 220px;
}
.crewbox4 {
  width: 530px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.crewbox5 {
  width: 427px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
.crewbox6 {
  width: 282px;
  height: 282px;
  display: flex;
  position: relative;
}
.crewbox6 .crewText {
  width: 220px;
}
.crewbox6 img {
  position: absolute;
  right: 0;
  bottom: 0px;
}
@media screen and (max-width: 1440px) {
  .crewbox1 {
    width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .crewbox2 {
    width: 450px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  .crewbox3 {
    width: 353px;
    height: 300px;
    display: flex;
    align-items: flex-start;
  }
  .crewbox4 {
    width: 437px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .crewbox5 {
    width: 347px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
  }
}
@media screen and (max-width: 1280px) {
  .YousmiteCrew > div {
    font-size: 2.0625rem;
    line-height: 2.5rem;
  }
  .DevYousmiteBoxed::after {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -55%);
  }
  .DevYousmiteBoxed {
    max-width: 650px;
    gap: 10px;
  }
  .crewText > div:first-child {
    font-size: 1.4375rem;
    line-height: 1.75rem;
  }
  .crewText > div:last-child {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
  }
  .crewbox1 {
    height: 220px;
    width: 220px;
  }
  .crewbox1 img {
    width: 150px;
    height: 100px;
    right: 30px;
  }
  .crewbox2 {
    height: 220px;
    width: 400px;
  }
  .crewbox3 {
    height: 280px;
    width: 360px;
    flex-direction: column-reverse;
  }
  .crewbox4 {
    height: 280px;
    width: 260px;
  }
  .crewbox5 {
    height: 280px;
    width: 360px;
  }
  .crewbox6 {
    height: 280px;
    width: 260px;
  }
}
@media screen and (max-width: 660px) {
  .DevlYousmiteSecData {
    gap: 16px;
  }
  .DevCrewBox {
    padding: 16px 8px;
    align-items: center;
    text-align: center;
  }
  .YousmiteCrew > div {
    font-size: 1.4375rem;
    line-height: 1.75rem;
  }
  .DevYousmiteBoxed::after {
    height: 100px;
    width: 100px;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -55%);
  }
  .DevYousmiteBoxed {
    max-width: 440px;
    gap: 5px;
  }
  .crewText {
    gap: 0px;
  }
  .crewbox1 {
    height: 172px;
    width: 172px;
    justify-content: start;
  }
  .crewbox1 img {
    width: 73px;
    height: 55px;
    right: 60px;
  }
  .crewbox2 {
    height: 172px;
    width: 263px;
    gap: 8px;
  }
  .crewbox2 img {
    height: 48px;
    width: 48px;
  }
  .crewbox3 {
    height: 172px;
    width: 200px;
    flex-direction: column-reverse;
    justify-content: start;
  }
  .crewbox3 .crewText {
    width: 100%;
  }
  .crewbox3 img {
    width: 50px;
    height: 50px;
  }
  .crewbox4 {
    height: 172px;
    width: 235px;
  }
  .crewbox4 img {
    height: 50px;
    width: 50px;
  }
  .crewbox5 {
    height: 172px;
    width: 235px;
  }
  .crewbox5 img {
    height: 54px;
    width: 54px;
  }
  .crewbox6 {
    height: 172px;
    width: 200px;
  }
  .crewbox6 img {
    height: 50px;
    width: 69px;
  }
}
@media screen and (max-width: 500px) {
  .DevYousmiteBoxed::after {
    display: none;
  }
  .DevCrewBox {
    padding: 16px 16px;
    align-items: center;
    text-align: center;
  }
  .DevYousmiteBoxed {
    max-width: 100%;
    gap: 5px;
  }
  .crewbox1 {
    height: 152px;
    width: 100%;
    justify-content: start;
  }
  .crewbox1 img {
    width: 125px;
    height: 95px;
    right: 50%;
    bottom: 0px;
    transform: translate(50%, 0%);
  }
  .crewbox2 {
    height: fit-content;
    width: 100%;
    gap: 8px;
  }
  .crewbox2 img {
    height: 124px;
    width: 124px;
  }
  .crewbox2 .crewText {
    width: 100%;
  }
  .crewbox3 {
    height: fit-content;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: start;
  }
  .crewbox3 .crewText {
    width: 100%;
  }
  .crewbox3 img {
    width: 124px;
    height: 124px;
  }
  .crewbox4 {
    height: fit-content;
    width: 100%;
  }
  .crewbox4 img {
    height: 124px;
    width: 124px;
  }
  .crewbox5 {
    height: fit-content;
    width: 100%;
  }
  .crewbox5 img {
    height: 124px;
    width: 124px;
  }
  .crewbox6 {
    height: 152px;
    width: 100%;
  }
  .crewbox6 img {
    height: 100px;
    width: 124px;
  }
}

/* DevlpToolSec */

.DevlpToolSec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lightblue);
  min-height: 100vh;
}
.DevlpToolData {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: center;
}
.TopResorchTool {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.leftResorch > div {
  margin: 0;
  max-width: 524px;
}
.RytResorch > div {
  max-width: 478px;
  margin: 0;
}
@media screen and (max-width: 1280px) {
  .leftResorch > div {
    font-size: 2.0625rem;
    line-height: 2.5rem;
  }
  .RytResorch > div {
    font-size: 0.9375rem;
    line-height: 1.375rem;
  }
}
@media screen and (max-width: 768px) {
  .TopResorchTool {
    flex-direction: column;
  }
  .leftResorch > div {
    font-size: 1.4375rem;
    line-height: 1.75rem;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .RytResorch > div {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}

/* SimpleStepSec */

.SimpleStepSec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SimpleStepSec::after {
  content: " ";
  position: absolute;
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/devlins.png")
    no-repeat;
  background-size: 100% 100%;
  width: 744px;
  left: -100px;
  top: 250px;
  height: 744px;
  z-index: -1;
}
.StepsData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 40px 0px;
}
.leftSimpleStep {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  max-width: 410px;
}
.DevPriceHead p {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--chilli-red);
  margin: 0;
}
.leftSimpleStep > div:first-child {
  margin: 0;
}

.RytSimpleStep {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.Stepitems {
  display: flex;
  gap: 20px;
}
.Stepitems img {
  object-fit: cover;
  object-position: top;
}
.Stepitems .Stepstext {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.Stepitems .Stepstext > div {
  margin: 0;
}
@media screen and (max-width: 1280px) {
  .leftSimpleStep {
    max-width: 100%;
    align-items: center;
    gap: 16px;
  }
  .leftSimpleStep > div:first-child {
    font-size: 2.0625rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .leftSimpleStep a {
    width: 230px !important;
  }
  .StepsData {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 0px 0px;
  }
  .RytSimpleStep {
    padding: 40px 40px;
    align-items: center;
  }
  .Stepitems .Stepstext > div:first-child {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
  .Stepitems .Stepstext > div:last-child {
    font-size: 0.9375rem;
    line-height: 1.375rem;
  }
  .SimpleStepSec::after {
    width: 544px;
    left: -100px;
    top: 400px;
    height: 544px;
  }
}
@media screen and (max-width: 768px) {
  .leftSimpleStep {
    max-width: 100%;
    align-items: center;
    gap: 8px;
  }
  .leftSimpleStep > div:first-child {
    font-size: 1.4375rem;
    line-height: 1.75rem;
    text-align: center;
  }
  .leftSimpleStep a {
    width: 230px !important;
  }
  .StepsData {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .RytSimpleStep {
    padding: 20px 20px 40px 20px;
    align-items: center;
    text-align: center;
  }
  .Stepitems .Stepstext > div:first-child {
    font-size: 1.1875rem;
    line-height: 1.5rem;
  }
  .Stepitems .Stepstext > div:last-child {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
  }
  .Stepitems:nth-child(1) img,
  .Stepitems:nth-child(2) img {
    height: 86px;
  }
  .SimpleStepSec::after {
    width: 344px;
    left: -100px;
    top: 300px;
    height: 344px;
  }
}
@media screen and (max-width: 400px) {
  .Stepitems:nth-child(3) img {
    height: 40px;
    width: 40px;
  }
}
@media screen and (max-width: 330px) {
  .Stepitems:nth-child(3) img {
    height: 32px;
    width: 32px;
  }
}

/* DevlpPricingSec */

.DevlpPricingSec {
  position: relative;
  padding: 100px 0px 200px 0px;
  z-index: 1;
}
.DevlpPricingSec::after {
  content: " ";
  position: absolute;
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/devlins.png")
    no-repeat;
  background-size: 100% 100%;
  width: 744px;
  left: -150px;
  top: -191px;
  height: 744px;
  z-index: -1;
}
.DevPriceHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.DevPriceHead h2 {
  font-family: var(--grotesk-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 48.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.DevPriceCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 60px;
}
.DevPricBox {
  width: 350px;
  height: 352px;
  border-radius: 24px;
  padding: 180px 40px 64px 40px;
  background: var(--lightgrey);
  box-shadow: 0px 0px 28px 0px #00000014;
  position: relative;
  overflow: hidden;
}
.DevPricBox::after {
  content: " ";
  position: absolute;
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/fits1.png")
    no-repeat;
  background-size: 100% 100%;
  width: 160px;
  left: 0px;
  top: 0px;
  height: 200px;
  filter: drop-shadow(8px 8px 20px #00000018);
}
.DevPricBox .devpboxtext {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.DevPricBox .devpboxtext h4 {
  font-family: var(--grotesk-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
  margin: 0;
}
.DevPricBox .devpboxtext p {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  margin: 0;
}
.DevPricBox:nth-of-type(2)::after {
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/fits2.png")
    no-repeat;
  background-size: 100% 100%;
  width: 160px;
  left: 0px;
  top: 0px;
  height: 200px;
}
.DevPricBox:nth-of-type(3)::after {
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/fits3.png")
    no-repeat;
  background-size: 100% 100%;
  width: 160px;
  left: 0px;
  top: 0px;
  height: 200px;
}

/* DevlpBuildSec */

.DevlpBuildSec {
  padding: 50px 0px 200px 0px;
}
.ReadyBuildData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--whitebg);
  box-shadow: 0px 0px 18px -5px #5541341f;
  border: 1px solid var(--lightgrey);
  border-radius: 38px;
  width: 100%;
  max-width: 1064px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.ReadyBuildData::after {
  content: " ";
  position: absolute;
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/leftbuild.png")
    no-repeat;
  transform: rotate(180deg);
  background-size: 100% 100%;
  width: 386px;
  left: -190px;
  top: 30px;
  height: 386px;
  z-index: -1;
}
.ReadyBuildData::before {
  content: " ";
  position: absolute;
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/rightbuild.png")
    no-repeat;
  transform: rotate(180deg);
  background-size: 100% 100%;
  width: 386px;
  right: -190px;
  top: 30px;
  height: 386px;
  z-index: -1;
}
.leftBuild {
  border-radius: 38px 0px 0px 38px;
  background: var(--whitebg);
}
.leftBuilinner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 422px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  gap: 28px;
}
.leftBuild h4 {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  color: var(--black-text);
}
.leftBuild p {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: var(--black-text);
  font-family: var(--satoshi-font);
  margin: 0;
  max-width: 422px;
}
.RytBuild {
  border-radius: 0px 38px 38px 0px;
  overflow: hidden;
}
.RytBuild img {
  width: 100%;
  max-height: 433px;
  transition: all ease-in-out 0.3s;
}
.ReadyBuildData:hover .RytBuild img {
  transform: scale(1.1);
}
