.select-wrapper{
  display: flex;
  flex-direction: column;
}
.select-container {
  width: 100%;
  position: relative;
}
.select-input-container {
  width: 100%;
  height: 100%;
  padding: 10px 24px;
  border-radius: 16px;
  min-height: 60px;
  border: 1px solid var(--notibg) !important;
  background-color: transparent;
  outline: var(--black-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.select-input-selected {
  color: var(--lightblack);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--satoshi-font);
}
.select-input-placeholder {
  color: var(--lightblack);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--satoshi-font);
  opacity: 60%;
}
.select-input-drop-icon {
  margin-top: -8px;
}
.select-input-dropdown {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 65px;
  border-radius: 16px;
  border: 1px solid var(--notibg) !important;
  background-color: var(--whitebg);
  outline: var(--black-text);
  z-index: 200;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 5px 14px;
}
.select-input-dropdown-item {
  cursor: pointer;
  padding: 10px 0px;
  outline: none;
  background: var(--whitebg);
  border: none;
  text-align: start;
  color: var(--lightblack);
  font-size: 15px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--satoshi-font);
}
.blueborder{
  border-color: var(--blue-text) !important;
}

@media (max-width: 1280px) {
  .select-input-container {
    min-height: 48px;
  }
  .select-input-placeholder{
    font-size: 15px;
  }
  .select-input-selected{
    font-size: 15px;
  }
  .select-input-dropdown{
    top: 53px;
  }
}

.Errors {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px 16px;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  font-family: var(--satoshi-font);
  color: var(--delete);
  margin-top: 6px;
}
