.pricingSection {
  padding: 32px 0px;
  position: relative;
  z-index: 1;
}
.pricingSection .PricingData {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
/* PricingPage-header Started  */

.PricingPage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.PricingPage-header .PriceBackdiv {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.PricingPage-header .PriceBackdiv a {
  position: relative;
  top: 10px;
  color: var(--black-bg);
}
.PricingPage-header .PricinhHeadquote {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  text-align: center;
}
.PricingPage-header .PricinhHeadquote h2 {
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  margin: 0;
  color: var(--black-text);
}
.PricingPage-header .PricinhHeadquote p {
  font-family: var(--satoshi-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  max-width: 500px;
  margin: 0;
  color: var(--black-text);
}

.PricingCardDiv {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.PricingCardDiv .PricingcardItem .pricing-card {
  max-width: 300px;
  border-radius: 20px;
  min-height: 400px;
  background: var(--light-blue);
  border: 1px solid var(--blue-text);
  box-shadow: 4px 4px 18px -5px rgba(85, 65, 52, 0.08);
}
.PricingCardDiv .PricingcardItem .pricing-card .card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}
.PricingCardDiv .PricingcardItem .pricing-card .card-body .pricingbtndiv {
  max-width: 169px;
  margin: 0 auto;
}
.PricingCardDiv .PricingcardItem .pricing-card .card-body .pricingbtndiv a {
  padding: 14px 0px;
  font-size: 19px;
  white-space: nowrap;
  min-width: 169px;
}

.PricingCardDiv
  .PricingcardItem
  .pricing-card
  .card-body
  :is(.pricing-top, .pricing-bottom) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  max-width: 260px;
  margin: 0 auto;
}
.PricingCardDiv
  .PricingcardItem
  .pricing-card
  .card-body
  .pricing-bottom
  .pricing-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  gap: 8px;
}
.PricingCardDiv
  .PricingcardItem
  .pricing-card
  .card-body
  :is(.pricing-top h4, .pricing-bottom h3) {
  margin: 0;
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  max-width: 200px;
}
.PricingCardDiv
  .PricingcardItem
  .pricing-card
  .card-body
  :is(.pricing-top p, .pricing-bottom p) {
  font-family: var(--satoshi-font);
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}
.PricingCardDiv .PricingcardItem .pricing-card .card-body .pricing-bottom {
  gap: 16px;
}
@media screen and (max-width: 1280px) {
  .pricingSection .PricingData {
    gap: 40px;
  }
  .PricingCardDiv .PricingcardItem .pricing-card {
    min-height: 350px;
  }
  .PricingPage-header .PricinhHeadquote h2 {
    font-size: 33px;
  }
  .PricingCardDiv
    .PricingcardItem
    .pricing-card
    .card-body
    :is(.pricing-top h4, .pricing-bottom h3) {
    font-size: 23px;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .pricingSection {
    padding: 20px 0px;
  }
  .PricingPage-header {
    gap: 16px;
  }
  .PricingCardDiv {
    gap: 16px;
    flex-direction: column;
  }
  .PricingCardDiv .PricingcardItem .pricing-card {
    min-height: 280px;
    max-width: 350px;
  }
  .PricingPage-header .PricinhHeadquote h2 {
    font-size: 23px;
  }
  .PricingPage-header .PricinhHeadquote p {
    font-size: 13px;
    line-height: 110%;
  }
  .PricingCardDiv
    .PricingcardItem
    .pricing-card
    .card-body
    :is(.pricing-top h4, .pricing-bottom h3) {
    font-size: 16px;
    max-width: 100%;
  }
  .PricingCardDiv
    .PricingcardItem
    .pricing-card
    .card-body
    :is(.pricing-top p, .pricing-bottom p) {
    font-size: 11px;
    line-height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .PricingCardDiv .PricingcardItem .pricing-card {
    min-height: 280px;
    max-width: 270px;
  }
}

/* PricingPage-header Ended   */

/* Pricing Hosting Plan Started  */

.PricingHostingPlans {
  border-radius: 24px;
  background: var(--whitebg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding-top: 32px;
}
.HostingHead {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.HostingHead h2 {
  margin: 0;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
}
.HostingHead p {
  margin: 0;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  max-width: 600px;
}

.hosting-table-wrapper {
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid var(--lightgrey);
  max-width: 960px;
}
.hosting-table-wrapper .hosting-table {
  margin: 0;
  background: transparent;
  width: 100%;
}
.hosting-table-wrapper .hosting-table thead tr th {
  height: 60px;
  width: 320px;
  background-color: #9ac2f7;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  padding: 12px 24px;
  vertical-align: middle;
}
.hosting-table-wrapper .hosting-table thead tr th:nth-child(2) {
  background-color: #bbd6f9;
}
.hosting-table-wrapper .hosting-table thead tr th:nth-child(1) {
  background-color: var(--lightgrey);
  text-align: left;
}
.hosting-table-wrapper .hosting-table tbody tr {
  border-bottom: 1px solid var(--lightgrey);
}
.hosting-table-wrapper .hosting-table tbody tr:last-child {
  border-bottom: 1px solid transparent;
}
.hosting-table-wrapper .hosting-table tbody tr td {
  height: 60px;
  width: 320px;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  padding: 12px 24px;
  vertical-align: middle;
  opacity: 80%;
}
.hosting-table-wrapper .hosting-table tbody tr td:nth-of-type(1) {
  text-align: left;
}
.hosting-table-wrapper .hosting-table tbody tr td:nth-of-type(2) {
  background-color: var(--light-blue);
}
.hosting-table-wrapper .hosting-table tbody tr td:nth-of-type(3) {
  background-color: #bbd6f980;
}

@media screen and (max-width: 1280px) {
  .HostingHead h2 {
    font-size: 33px;
  }
  .hosting-table-wrapper .hosting-table thead tr th:nth-child(2) {
    padding: 12px 0px;
  }
  .hosting-table-wrapper .hosting-table thead tr th:nth-child(3) {
    padding: 12px 0px;
  }
}
@media screen and (max-width: 768px) {
  .HostingHead h2 {
    font-size: 23px;
  }
  .HostingHead p {
    font-size: 13px;
  }
  .hosting-table-wrapper .hosting-table thead tr th {
    font-size: 13px;
  }
  .hosting-table-wrapper .hosting-table tbody tr td {
    font-size: 13px;
  }
  .hosting-table-wrapper .hosting-table tbody tr td:nth-of-type(1) {
    text-align: center;
    padding: 12px 5px;
  }
  .hosting-table-wrapper .hosting-table tbody tr td:nth-of-type(2) {
    padding: 12px 5px;
  }
  .hosting-table-wrapper .hosting-table tbody tr td:nth-of-type(3) {
    padding: 12px 5px;
  }
}

/* Pricing Hosting Plan Ended  */

/* Pricing Key Feature Started  */

.PricingKeyFeature {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}
.FeatureData {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  border: 1px solid var(--lightgrey);
  border-radius: 16px;
}
.fethed {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  border-radius: 6px;
  background: var(--light-blue);
}
.fethed h4 {
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: var(--black-text);
  margin: 0;
}
.fetiner p {
  font-family: var(--satoshi-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid #eaeaea;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
  color: var(--black-text);
  height: 60px;
}
.fetiner p:last-child {
  border: none;
}

/* Pricing Key Feature Ended   */

/* .Pricing Calculator Started  */

.PricingCalculatorDiv {
  display: flex;
  flex-direction: column;
  gap: 36px;
  border: 1px solid var(--lightgrey);
  background: var(--whitebg);
  padding: 36px;
  border-radius: 24px;
}
.pricingHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricingHeading h2 {
  margin: 0;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
}
.CalculatorTabDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.CalculatorTabDiv .PricingPlan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.CalculatorTabDiv .PricingPlan .planbtn {
  box-shadow: 4px 4px 18px -5px #55413414;
  border: 1px solid var(--black-bg);
  padding: 24px 16px;
  min-width: 350px;
  min-height: 130px;
  border-radius: 16px !important;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CalculatorTabDiv .PricingPlan .planbtn.active {
  border: 2px solid var(--blue-text);
  background: #eaf3ff;
}
.CalculatorTabDiv .PricingPlan input[type="radio"] {
  display: none;
}
.CalculatorTabDiv .PricingPlan .planbtn .planText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
.CalculatorTabDiv .PricingPlan .planbtn :is(.planText h2, .planText h5) {
  margin: 0;
  font-size: 40px;
  line-height: 120%;
  font-weight: 500;
  font-family: var(--grotesk-font);
  color: var(--black-text);
}
.CalculatorTabDiv .PricingPlan .planbtn .planText h5 {
  font-size: 23px;
}
.CalculatorTabDiv .PricingPlan .planbtn.active :is(.planText h2, .planText h5) {
  color: var(--blue-text);
}
.PricingInfoDiv {
  display: flex;
  gap: 27px;
}
.PricingInfoDiv .leftPriceInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 37px;
  justify-content: space-between;
  padding: 10px 0px;
}
.PricingInfoDiv .leftPriceInfo .pricingscrolldiv {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.PricingInfoDiv .leftPriceInfo .pricingscrolldiv .scrolltext {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.PricingInfoDiv .leftPriceInfo .pricingscrolldiv .scrolltext h5 {
  font-weight: 500;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  margin: 0;
  font-size: 23px;
  line-height: 120%;
}
.PricingInfoDiv .leftPriceInfo .pricingscrolldiv .scrolltext span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 135px;
  border: 1px solid var(--pinkborder);
  border-radius: 16px;
  font-weight: 700;
  font-family: var(--satoshi-font);
  color: var(--blue-text);
  font-size: 18px;
  line-height: 120%;
}
.RytPriceInfo .pricebox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 278px;
  min-height: 368px;
  border-radius: 16px;
  padding: 0px 16px;
  box-shadow: 4px 4px 18px -5px #55413414;
  background: var(--blue-text);
  gap: 32px;
}
.RytPriceInfo .pricebox .pricetext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
.RytPriceInfo .pricebox .pricetext h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  font-family: var(--grotesk-font);
  color: var(--white-text);
}
.RytPriceInfo .pricebox .pricetext h5 {
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  font-family: var(--grotesk-font);
  color: var(--white-text);
}
.RytPriceInfo .pricebox .pricetext p {
  font-size: 13px;
  font-weight: 300;
  line-height: 120%;
  margin: 0;
  font-family: var(--grotesk-font);
  color: var(--white-text);
  text-align: center;
  max-width: 230px;
}
.RytPriceInfo .pricebox a {
  background: var(--black-bg);
  min-height: 48px;
  width: 200px;
  border-radius: 16px;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: var(--white-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  &:hover {
    background: var(--whitebg);
    color: var(--black-text);
  }
}

.styled-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px; /* Slightly thicker track */
  border-radius: 4px;
  background: linear-gradient(
    to right,
    var(--blue-text) 0%,
    var(--blue-text) var(--progress, 50%),
    #302f2e2f var(--progress, 50%),
    /* Light gray for unfilled part */ #302f2e2f 100%
  ) !important;
  outline: none;
  border: none;
}

/* Track reset */
.styled-range::-webkit-slider-runnable-track {
  background: transparent;
  height: 8px;
  border-radius: 4px;
}
.styled-range::-moz-range-track {
  background: transparent;
  height: 8px;
  border-radius: 4px;
}

/* Thumb - White with blue border */
.styled-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--whitebg) !important; /* White background */
  border: 3px solid var(--blue-text) !important; /* Blue border */
  cursor: pointer;
  margin-top: -6px; /* Center on track */
  box-shadow: 4px 4px 18px -5px #55413433 !important;
}
.styled-range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--whitebg) !important; /* White background */
  border: 2px solid var(--blue-text) !important; /* Blue border */
  cursor: pointer;
  box-shadow: 4px 4px 18px -5px #55413433 !important;
}

@media screen and (max-width: 1268px) {
  .PricingCalculatorDiv {
    gap: 16px;
  }
  .CalculatorTabDiv .PricingPlan .planbtn {
    padding: 12px;
    min-width: 260px;
    min-height: 90px;
  }
  .CalculatorTabDiv .PricingPlan .planbtn :is(.planText h2, .planText h5) {
    font-size: 28px;
  }
  .PricingInfoDiv .leftPriceInfo .pricingscrolldiv .scrolltext h5 {
    font-size: 19px;
  }
  .CalculatorTabDiv .PricingPlan .planbtn .planText h5 {
    font-size: 19px;
  }
  .pricingHeading h2 {
    font-size: 33px;
  }
}
@media screen and (max-width: 768px) {
  .PricingInfoDiv {
    flex-direction: column;
  }
  .CalculatorTabDiv .PricingPlan .planbtn {
    min-width: 150px;
    min-height: 70px;
  }
  .pricingHeading h2 {
    font-size: 23px;
  }

  .CalculatorTabDiv .PricingPlan .planbtn :is(.planText h2, .planText h5) {
    font-size: 19px;
  }
  .CalculatorTabDiv .PricingPlan .planbtn .planText h5 {
    font-size: 14px;
  }
  .PricingInfoDiv .leftPriceInfo .pricingscrolldiv .scrolltext span {
    min-height: 40px;
    min-width: 80px;
  }
  .PricingInfoDiv .leftPriceInfo {
    gap: 24px;
  }
  .RytPriceInfo .pricebox {
    min-width: 278px;
    min-height: 200px;
  }
  .RytPriceInfo .pricebox .pricetext h2 {
    font-size: 23px;
  }
  .RytPriceInfo .pricebox .pricetext h5 {
    font-size: 14px;
  }
  .RytPriceInfo .pricebox .pricetext p {
    font-size: 11px;
    max-width: 230px;
  }
  .PricingCalculatorDiv {
    padding: 24px 12px;
  }
}

/* .Pricing Calculator Ended */

.EnterPlanDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 18px -5px #55413414;
  padding: 0px 48px;
  min-height: 80px;
  border-radius: 16px;
  background: var(--light-blue);
  max-width: 960px;
  width: 100%;
  margin: 0px auto;
}

.EnterPlanDiv h4 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  color: var(--blue-text);
}

@media screen and (max-width: 768px) {
  .EnterPlanDiv {
    height: 50px;
    padding: 0px 16px;
  }
  .EnterPlanDiv h4 {
    font-size: 19px;
  }
}

/* NeedHelpDiv */

.NeedHelpDiv {
  position: relative;
  padding-bottom: 20px;
}
.Needhelpitem {
  background-color: var(--black-bg);
  padding: 32px 48px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 214px;
  max-width: 960px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}
.Needhelpitem::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/doghelp.png")
    no-repeat;
  background-size: 100% 100%;
  right: 0;
  bottom: 0;
  width: 450px;
  height: 299px;
}
.helpText {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.helpText h3 {
  font-family: var(--grotesk-font);
  font-size: 28px;
  font-weight: 500;
  line-height: 39.6px;
  letter-spacing: -0.02em;
  color: var(--white-text);
  margin: 0;
}
.helpText p {
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  color: var(--white-text);
  margin: 0;
  max-width: 300px;
}
.helpbtn a {
  display: flex;
  justify-content: center;
  gap: 6px;
  background-color: var(--blue-text);
  border: none;
  border-radius: 16px;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--white-text);
  width: fit-content;
  &:hover {
    background: var(--whitebg);
    color: var(--black-text);
  }
}
@media screen and (max-width: 1024px) {
  .Needhelpitem::after {
    right: -50px;
    bottom: 0px;
    width: 400px;
    height: 299px;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .Needhelpitem {
    padding: 16px;
  }
  .helpText h3 {
    font-size: 20px;
  }
  .helpText p {
    font-size: 16px;
  }
  .Needhelpitem::after {
    right: 0px;
    bottom: 0px;
    width: 300px;
    height: 250px;
    background-size: cover;
  }
}
@media screen and (max-width: 500px) {
  .Needhelpitem {
    gap: 16px;
    min-height: 140px;
  }
  .helpbtn a {
    padding: 10px 14px;
  }
  .helpText h3 {
    font-size: 16px;
  }
  .helpText p {
    font-size: 11px;
    max-width: 150px;
    line-height: 120%;
  }
  .Needhelpitem::after {
    right: -20px;
    bottom: 0px;
    width: 200px;
    height: 150px;
    background-size: cover;
  }
}
