.pricingSection {
  padding: 32px 80px;
  position: relative;
  z-index: 1;
}
.pricingSection .PricingData {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
/* PricingPage-header Started  */
.PricingPage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.PricingPage-header .PriceBackdiv {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.PricingPage-header .PriceBackdiv a {
  position: relative;
  top: 10px;
  color: var(--black-bg);
}
.PricingPage-header .PricinhHeadquote {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  text-align: center;
}
.PricingPage-header .PricinhHeadquote > div {
  margin: 0;
}
.plansFeaturesHeading {
  margin: 0;
}
@media screen and (max-width: 1280px) {
  .pricingSection {
    padding: 32px 32px;
  }
  .pricingSection .PricingData {
    gap: 64px;
  }
  .PricingPage-header .PricinhHeadquote > div:first-child {
    font-size: 2.0625rem;
    line-height: 2.5rem;
  }
  .plansFeaturesHeading {
    font-size: 2.0625rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .pricingSection {
    padding: 32px 16px;
  }
  .PricingPage-header {
    gap: 16px;
  }
  .PricingPage-header .PricinhHeadquote > div:first-child {
    font-size: 1.4375rem;
    line-height: 1.75rem;
  }
  .PricingPage-header .PricinhHeadquote > div:last-child {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
  }
  .plansFeaturesHeading {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}
/* PricingPage-header Ended   */
/* NeedHelpDiv */
.NeedHelpDiv {
  position: relative;
  padding-bottom: 20px;
}
.Needhelpitem {
  background-color: var(--black-bg);
  padding: 32px 48px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 214px;
  max-width: 960px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}
.Needhelpitem::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/doghelp.png")
    no-repeat;
  background-size: 100% 100%;
  right: 0;
  bottom: 0;
  width: 450px;
  height: 299px;
}
.helpText {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.helpText h3 {
  font-family: var(--grotesk-font);
  font-size: 28px;
  font-weight: 500;
  line-height: 39.6px;
  letter-spacing: -0.02em;
  color: var(--white-text);
  margin: 0;
}
.helpText p {
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  color: var(--white-text);
  margin: 0;
  max-width: 300px;
}
.helpbtn a {
  display: flex;
  justify-content: center;
  gap: 6px;
  background-color: var(--blue-text);
  border: none;
  border-radius: 16px;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--white-text);
  width: fit-content;
  &:hover {
    background: var(--whitebg);
    color: var(--black-text);
  }
}
@media screen and (max-width: 1024px) {
  .Needhelpitem::after {
    right: -50px;
    bottom: 0px;
    width: 400px;
    height: 299px;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .Needhelpitem {
    padding: 16px;
  }
  .helpText h3 {
    font-size: 20px;
  }
  .helpText p {
    font-size: 16px;
  }
  .Needhelpitem::after {
    right: 0px;
    bottom: 0px;
    width: 300px;
    height: 250px;
    background-size: cover;
  }
}
@media screen and (max-width: 500px) {
  .Needhelpitem {
    gap: 16px;
    min-height: 140px;
  }
  .helpbtn a {
    padding: 10px 14px;
  }
  .helpText h3 {
    font-size: 16px;
  }
  .helpText p {
    font-size: 11px;
    max-width: 150px;
    line-height: 120%;
  }
  .Needhelpitem::after {
    right: -20px;
    bottom: 0px;
    width: 200px;
    height: 150px;
    background-size: cover;
  }
}
