.Container {
  padding: 32px 80px;
  max-width: 1560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .Container {
    padding: 24px 48px;
  }
}
@media screen and (max-width: 768px) {
  .Container {
    padding: 24px 16px;
  }
}

/* AboutHeroSec started  */
.AboutHeroSec {
  padding: 40px 0px 0px 0px;
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/aboutbg.png")
    no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AboutHeroSec .AbtHeroData {
  display: flex;
  flex-direction: column;
  gap: 250px;
}
.AboutHeroSec .AbtHeroData .abttopHero {
  background: #ffffffb2;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  min-height: 370px;
  padding: 73px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  gap: 20px;
}
.AboutHeroSec .AbtHeroData .abttopHero h2 {
  max-width: 951px;
  text-align: center;
  margin: 0;
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: var(--black-text);
}
.AboutHeroSec .AbtHeroData .abttopHero h4 {
  max-width: 951px;
  text-align: center;
  margin: 0;
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 33px;
  line-height: 120%;
  color: var(--black-text);
}
.AbutheroBtm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
}
.AbutheroBtm h2 {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
.AbutheroBtm .abtherocard {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.AbutheroBtm .abtherocard .AbtCardItem {
  max-width: 340px;
  min-height: 324px;
  box-shadow: 0px 28.93px 63.5px 0px #450e1529;
  background: var(--whitebg);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.AbutheroBtm .abtherocard .AbtCardItem::after {
  position: absolute;
  content: " ";
  background: var(--black-bg);
  height: 4px;
  left: 0;
  bottom: 0;
  width: 56px;
}
.AbutheroBtm .abtherocard .AbtCardItem .head {
  border-radius: 20px 20px 0px 0px;
  min-height: 62px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  background: var(--black-bg);
}
.AbutheroBtm .abtherocard .AbtCardItem .head h6 {
  margin: 0;
  font-weight: 700;
  font-family: var(--satoshi-font);
  font-size: 18px;
  line-height: 120%;
  color: var(--white-text);
}
.AbutheroBtm .abtherocard .AbtCardItem .body {
  padding: 12px;
  min-height: 214px;
}
.AbutheroBtm .abtherocard .AbtCardItem .body p {
  font-family: var(--satoshi-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--notibg);
  margin: 0;
}
@media screen and (max-width: 1280px) {
  .AboutHeroSec .AbtHeroData .abttopHero {
    max-width: 650px;
    min-height: 250px;
    padding: 35px 40px;
  }
  .AboutHeroSec .AbtHeroData .abttopHero h2 {
    font-size: 33px;
  }
  .AboutHeroSec .AbtHeroData .abttopHero h4 {
    font-size: 19px;
  }
  .AbutheroBtm h2 {
    font-size: 33px;
  }
  .AbutheroBtm .abtherocard .AbtCardItem .head h6 {
    font-size: 13px;
  }
  .AbutheroBtm .abtherocard .AbtCardItem .body p {
    font-size: 13px;
  }
  .AbutheroBtm .abtherocard .AbtCardItem {
    max-width: 240px;
    min-height: 211px;
  }
}
@media screen and (max-width: 768px) {
  .AboutHeroSec {
    padding: 0px 0px;
  }
  .AboutHeroSec .AbtHeroData .abttopHero {
    max-width: 100%;
    min-height: 100%;
    padding: 35px 40px;
    gap: 8px;
  }
  .AboutHeroSec .AbtHeroData .abttopHero h2 {
    font-size: 23px;
  }
  .AboutHeroSec .AbtHeroData .abttopHero h4 {
    font-size: 16px;
  }
  .AbutheroBtm h2 {
    font-size: 23px;
  }
  .AbutheroBtm .abtherocard {
    flex-direction: column;
  }
  .AbutheroBtm .abtherocard .AbtCardItem {
    max-width: 100%;
    min-height: 174px;
    gap: 8px;
  }
  .AbutheroBtm .abtherocard .AbtCardItem .body {
    min-height: fit-content;
    padding: 0px 8px;
  }
}
/* AboutHeroSec started  */

/* OurStorySec started  */
.OurStorySec {
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.OurStorySec .StoryData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  align-items: center;
}
.OurStorySec .StoryData img {
  width: 100%;
  height: auto;
}
.OurStorySec .StoryData .storyTexted,
.OurStorySec .StoryData .storyTexted .ourstorypara {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 0px;
}
.OurStorySec .StoryData .storyTexted h2 {
  color: var(--black-text);
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  font-family: var(--grotesk-font);
  margin: 0;
}
.OurStorySec .StoryData .storyTexted .ourstorypara h6 {
  color: var(--notibg);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  font-family: var(--grotesk-font);
  margin: 0;
}
@media screen and (max-width: 1280px) {
  .OurStorySec .StoryData {
    grid-gap: 32px;
  }
  .OurStorySec .StoryData .storyTexted,
  .OurStorySec .StoryData .storyTexted .ourstorypara {
    padding-right: 0px;
    gap: 12px;
  }
  .OurStorySec .StoryData .storyTexted h2 {
    font-size: 33px;
  }
  .OurStorySec .StoryData .storyTexted .ourstorypara h6 {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .OurStorySec .StoryData {
    grid-gap: 16px;
    grid-template-columns: 1fr;
  }
  .OurStorySec .StoryData .storyTexted,
  .OurStorySec .StoryData .storyTexted .ourstorypara {
    gap: 8px;
  }
  .OurStorySec .StoryData .storyTexted h2 {
    font-size: 23px;
  }
  .OurStorySec .StoryData .storyTexted .ourstorypara h6 {
    font-size: 11px;
  }
}
/* OurStorySec Ended  */

/* AbtTeamSec Started  */
.AbtTeamSec {
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AbtTeamSec .AbtTeamdata {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  color: var(--black-text);
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead h4 {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  color: var(--notibg);
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead .para {
  max-width: 736px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead .para h6 {
  margin: 0;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--grotesk-font);
  color: var(--notibg);
}
@media screen and (max-width: 1280px) {
  .AbtTeamSec .AbtTeamdata {
    gap: 20px;
  }
  .AbtTeamSec .AbtTeamdata .AbtTeamHead h2 {
    font-size: 33px;
  }
  .AbtTeamSec .AbtTeamdata .AbtTeamHead h4 {
    font-size: 28px;
  }
  .AbtTeamSec .AbtTeamdata .AbtTeamHead .para h6 {
    font-size: 19px;
  }
}
@media screen and (max-width: 768px) {
  .AbtTeamSec .AbtTeamdata .AbtTeamHead h2 {
    font-size: 23px;
  }
  .AbtTeamSec .AbtTeamdata .AbtTeamHead h4 {
    font-size: 19px;
  }
  .AbtTeamSec .AbtTeamdata .AbtTeamHead .para h6 {
    font-size: 16px;
  }
}
/* AbtTeamSec Ended  */
