.card-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-header-title {
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.66px;
}
.card-header-filters {
  position: relative;
  display: flex;
  justify-content: center;
  width: 120px;
}
.card-header-selected {
  color: var(--black-text);
  text-align: center;
  font-family: var(--grotesk-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.32px;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-header-dropdown {
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 180%;
  width: 100%;
  border: 1px solid var(--lightgrey);
  overflow: hidden;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.32);
}
.card-header-dropdown-item {
  color: var(--black-text);
  text-align: center;
  font-family: var(--grotesk-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.38px;
  padding: 8px 0px;
  border: none;
  background: white;
  border-bottom: 1px solid var(--lightgrey);
}
@media screen and (max-width: 1280px) {
  .card-header-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .card-header-title {
    font-size: 23px;
  }
}
