/* Chart card Started */
.chart-card {
  background: var(--whitebg);
  border: 1px solid var(--lightgrey);
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.chart-card-labels {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
.chart-card-label {
  display: flex;
  gap: 6px;
}
.chart-card-label span:nth-child(2) {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.3px;
}
.bargraph-chart-container {
  padding: 8px 0 0 0;
}
.chat-btn {
  position: absolute;
  right: 32px;
  top: 100px;
  background: #302f2e;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.08);
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 18px;
}
.chat-btn span {
  font-size: 20px;
  margin-right: 4px;
}
@media (max-width: 600px) {
  .chat-btn {
    right: 12px;
    top: 80px;
    padding: 4px 12px;
  }
}
/* Chart card Ended */
